@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.font-nosc-playfair {
  font-family: "Playfair Display", serif;
}

.font-noto-serif {
  font-family: "Noto Serif TC", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-notosans {
  font-family: "Noto Sans TC", sans-serif;
}

.background-gradient {
  background: linear-gradient(180deg, #e5e5e5, #f4ede1, #f4f0e8, #f4f4ee);
  max-width: 100%;
  overflow: hidden;
  height: auto;
}

.backdrop-blur {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.text-vertical {
  writing-mode: vertical-rl;
}

.border-radius-80 {
  border-radius: 80px 0;
}

.border-radius-40 {
  border-radius: 40px 0;
}

.color-choose {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #e6e6e1;
  background-color: #ffd246;
}

.color-gold {
  background-color: #ffd246;
}

.color-silver {
  background-color: #9f9f9f;
}

.cursor-pointer {
  cursor: pointer;
}

.no-resize {
  resize: none;
}

.underline {
  text-decoration: underline;
}

.custom-btn {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border: none;
  cursor: pointer;
}

.custom-btn-secondary {
  background: none;
  color: #ff985e;
  border-bottom: 2px solid orange;
  position: relative;
  transition: background 0.3s, color 0.3s;
  z-index: 1;
}

.custom-btn-secondary::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #ff985e;
  transition: height 0.3s;
  z-index: -1;
}

.custom-btn-secondary:hover::before {
  height: 100%;
}

.custom-btn-secondary:hover {
  color: #fff;
}

.custom-btn-primary {
  background: #566b5a;
  color: #fff;
  border-bottom: 2px solid #fff;
  position: relative;
  transition: background 0.3s, color 0.3s;
}

.custom-btn-primary::after {
  content: "SHOP NOW";
  position: absolute;
  left: 12px;
  top: 8px;
  color: #fff;
  z-index: 2;
}

.custom-btn-primary:hover::after {
  color: #566b5a;
}

.custom-btn-primary::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #fff;
  color: #566b5a;
  transition: height 0.3s;
  z-index: 1;
}

.custom-btn-primary:hover {
  background: #fff;
  color: #566b5a;
}

.custom-btn-primary:hover::before {
  height: 100%;
}

.custom-btn-white {
  color: #fff;
  border-bottom: 2px solid #fff;
  position: relative;
  transition: background 0.3s, color 0.3s;
}

.custom-btn-white::after {
  content: "SHOP NOW";
  position: absolute;
  left: 12px;
  top: 8px;
  color: #fff;
  z-index: 2;
}

.custom-btn-white:hover::after {
  color: #566b5a;
}

.custom-btn-white::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #fff;
  color: #566b5a;
  transition: height 0.3s;
  z-index: 1;
}

.custom-btn-white:hover {
  background: #fff;
  color: #566b5a;
}

.custom-btn-white:hover::before {
  height: 100%;
}

.custom-btn-more {
  color: #fff;
  border-bottom: 2px solid #fff;
  position: relative;
  transition: background 0.3s, color 0.3s;
}

.custom-btn-more::after {
  content: "MORE";
  position: absolute;
  left: 12px;
  top: 8px;
  color: #fff;
  z-index: 2;
}

.custom-btn-more:hover::after {
  color: #566b5a;
}

.custom-btn-more::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #fff;
  color: #566b5a;
  transition: height 0.3s;
  z-index: 1;
}

.custom-btn-more:hover {
  background: #fff;
  color: #566b5a;
}

.custom-btn-more:hover::before {
  height: 100%;
}

.custom-btn-start {
  background: #566b5a;
  color: #fff;
  border-bottom: 2px solid #fff;
  position: relative;
  transition: background 0.3s, color 0.3s;
}

.custom-btn-start::after {
  content: "開始製作";
  position: absolute;
  font-weight: 600;
  left: 80px;
  top: 16px;
  color: #fff;
  z-index: 2;
}

.custom-btn-start:hover::after {
  color: #566b5a;
}

.custom-btn-start::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #fff;
  color: #566b5a;
  transition: height 0.3s ease;
  z-index: 1;
}

.custom-btn-start:hover {
  background: #fff;
  color: #566b5a;
}

.custom-btn-start:hover::before {
  height: 100%;
}

.custom-btn-next {
  background: #566b5a;
  color: #fff;
  border-bottom: 2px solid #fff;
  position: relative;
  transition: background 0.3s, color 0.3s;
}

.custom-btn-next::after {
  content: "下一步：雷刻文字";
  position: absolute;
  font-weight: 600;
  left: 40px;
  top: 16px;
  color: #fff;
  z-index: 2;
}

.custom-btn-next:hover::after {
  color: #566b5a;
}

.custom-btn-next::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #fff;
  color: #566b5a;
  transition: height 0.3s ease;
  z-index: 1;
}

.custom-btn-next:hover {
  background: #fff;
  color: #566b5a;
}

.custom-btn-next:hover::before {
  height: 100%;
}

.custom-btn-next2 {
  background: #566b5a;
  color: #fff;
  border-bottom: 2px solid #fff;
  position: relative;
  transition: background 0.3s, color 0.3s;
}

.custom-btn-next2::after {
  content: "下一步：加入購物車";
  position: absolute;
  font-weight: 600;
  left: 40px;
  top: 16px;
  color: #fff;
  z-index: 2;
}

.custom-btn-next2:hover::after {
  color: #566b5a;
}

.custom-btn-next2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #fff;
  color: #566b5a;
  transition: height 0.3s ease;
  z-index: 1;
}

.custom-btn-next2:hover {
  background: #fff;
  color: #566b5a;
}

.custom-btn-next2:hover::before {
  height: 100%;
}

.custom-btn-submit {
  color: #fff;
  background-color: #566b5a;
  padding: 8px 16px;
  transition: 0.3s;
}
.custom-btn-submit:hover {
  opacity: 0.7;
}

.breadcrumb {
  font-family: "Montserrat", sans-serif;
  vertical-align: bottom;
}
.breadcrumb-item {
  font-size: 14px;
}

.change {
  display: none;
  opacity: 0;
}

.h-border:hover .show {
  display: none;
  transition: all 0.5s ease-in-out;
}

.h-border:hover .change {
  display: block;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.h-border:hover {
  transition: all 0.3s;
}

.h-border {
  position: relative;
  overflow: hidden;
  transition: border-radius 0.5s, transform 0.5s;
}

.h-border::after {
  position: absolute;
  content: "";
  top: 3%;
  bottom: 3%;
  left: 3%;
  right: 3%;
  border: 1px solid #fff;
  border-radius: 60px 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.h-border:hover {
  cursor: pointer;
  border-radius: 60px 0;
  transform: scale(1.05);
}

.h-border:hover::after {
  opacity: 1;
}

.cus-pagination {
  color: #566b5a;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.cus-pagination a {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  background-color: transparent;
}
.cus-pagination a:hover {
  background-color: #fff;
}
.cus-pagination a:focus {
  background-color: #fff;
}

.page-item .active {
  background-color: #fff !important;
}

.cus-tag {
  font-family: "Noto Sans TC", sans-serif;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: -10px;
  top: -10px;
  background: #566b5a;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px 0 5px;
}

/* 爱心图标样式 */
.heart-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: none;
  stroke: #566b5a;
  stroke-width: 2;
  transition: fill 0.3s ease-in-out;
}

.heart-icon.active {
  fill: #566b5a;
}

.expand-less {
  display: inline-block;
}

.expand-more {
  display: none;
}

.collapsed .expand-more {
  display: inline-block;
}

.collapsed .expand-less {
  display: none;
}

.start-line::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #ffd246;
  left: 20px;
  top: 0;
  bottom: 0;
}

.h-bottom-line a::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: #566b5a;
  transform: scalex(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}
.h-bottom-line a:hover::after {
  transform: scalex(1);
}
.h-bottom-line a.active::before {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #566b5a;
}

.swiper-button-next {
  color: #fff;
}

.swiper-button-prev {
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo a {
  display: block;
  background-image: url("../images/logo-white.svg");
  width: 12.5rem;
  height: 2.5rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.navbar-hover {
  background: rgba(20, 20, 20, 0.2);
  transition: background-color 0.3s, color 0.3s;
  border-bottom: 1px solid transparent;
  z-index: 2;
}
.navbar-hover:hover {
  background: #e6e6e1;
  border-bottom: 1px solid #d4d4d4;
}
.navbar-hover:hover .nav-link {
  color: #566b5a;
}
.navbar-hover:hover .logo a {
  background-image: url("../images/logo-green.svg");
}
.navbar-hover:hover .header-white-icon {
  display: none;
}
.navbar-hover:hover .header-green-icon {
  display: block;
}
.navbar-hover:hover input::-moz-placeholder {
  content: "搜尋...";
  color: #666666;
}
.navbar-hover:hover input::placeholder {
  content: "搜尋...";
  color: #666666;
}
.navbar-hover:hover .dropdown-icon {
  color: #566b5a;
  opacity: 1;
}
.navbar-hover:hover .menu-icon {
  color: #566b5a;
}

.custom-dropdown-menu {
  background: #e6e6e1;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transform: translateX(-50%);
}
@media (max-width: 991.98px) {
  .custom-dropdown-menu {
    background: transparent;
    box-shadow: none;
    transform: translateX(25%);
  }
}
.custom-dropdown-menu a:hover {
  color: #566b5a;
}
@media (max-width: 991.98px) {
  .custom-dropdown-menu a {
    color: #566b5a;
  }
}

.nav-item {
  position: relative;
}
.nav-item-en {
  opacity: 1;
  color: #fff;
  transition: opacity 0.3s ease-out;
}
@media (max-width: 991.98px) {
  .nav-item-en {
    opacity: 0;
  }
}
.nav-item-ch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
@media (max-width: 991.98px) {
  .nav-item-ch {
    opacity: 1;
    font-family: "Montserrat", sans-serif;
  }
}
.nav-item:hover .nav-item-en {
  opacity: 0;
}
.nav-item:hover .nav-item-ch {
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  color: #566b5a;
}

.header-form .input-group {
  border-bottom: 1px solid #d4d4d4;
}
@media (max-width: 991.98px) {
  .header-form .input-group {
    border-bottom: 0px;
  }
}
.header-form .form-control {
  caret-color: #566b5a;
}

.search-box::-moz-placeholder {
  color: #fff;
  font-size: 14px;
}

.search-box::placeholder {
  color: #fff;
  font-size: 14px;
}

.header-white-icon {
  display: block;
}

.header-green-icon {
  display: none;
}

.no-box-shadow {
  box-shadow: none !important;
}

.menu-icon {
  color: #fff;
}

.social-media-list svg {
  border: 1px solid #fff;
  border-radius: 50%;
  transition: border-color 0.3s, background-color 0.5s;
}
.social-media-list a:hover svg {
  border-color: #283c1e;
  background-color: #283c1e;
}

@media (max-width: 767.98px) {
  .footer-top-left {
    width: 100%;
  }
  .footer-top-left a {
    letter-spacing: 0.28px;
  }
  .footer-top-right .logo-svg {
    width: 160px;
    height: 32px;
    padding: 1.6px 2.72px 0px 3.2px;
  }
}
.bg-left-stripe {
  top: 0px;
  left: 110px;
  z-index: 0;
}

.bg-right-stripe {
  top: 0px;
  right: -72px;
  z-index: 0;
}

.bg-left-pic {
  top: 192px;
  left: 0;
}

.bg-main-pic {
  top: 100px;
  z-index: 0;
}

.bg-right-pic {
  top: 124px;
  right: 0;
}
@media (max-width: 991.98px) {
  .bg-right-pic {
    top: 520px;
  }
}

.banner-deco-dot {
  width: 6px;
  height: 6px;
  border-radius: 2px;
  background: #566b5a;
}

.bg-banner-blur {
  border-radius: 0px 500px 0px 0px;
  border-top: 1px solid var(--white, #fff);
  border-right: 1px solid var(--white, #fff);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 488px;
  height: 579px;
  left: 0;
  top: 368px;
  z-index: 0;
}
@media (max-width: 991.98px) {
  .bg-banner-blur {
    width: 450px;
    height: 480px;
    top: 400px;
  }
}
@media (max-width: 767.98px) {
  .bg-banner-blur {
    width: 375px;
    height: 400px;
    top: 436px;
  }
}

.bg-main-pic-mobile {
  background: url(../images/img-banner-mobile.png);
  width: 100%;
  height: 820px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-title {
  font-family: "Playfair Display", serif;
}
@media (max-width: 991.98px) {
  .banner-title {
    font-family: "Playfair Display SC", serif;
  }
}

.banner-content {
  padding-top: 478px;
  padding-bottom: 304px;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .banner-content {
    padding-top: 543px;
    padding-bottom: 40px;
  }
}

.banner-icon a {
  background: transparent;
  border-radius: 50%;
  transition: background 0.5s;
}
.banner-icon a:hover {
  background: #fff;
}
.banner-icon a:active {
  background: #fff;
}
@media (max-width: 991.98px) {
  .banner-icon {
    display: none;
  }
}

.about-me {
  margin-top: -240px;
}
@media (max-width: 991.98px) {
  .about-me {
    margin-top: 0;
  }
}

.bg-long-stripe {
  background-image: url(../images/img-about-2.png);
  width: 280px;
  height: 540px;
  top: 0px;
  left: 28px;
}

.bg-square-stripe {
  background-image: url(../images/img-about-4.png);
  width: 357px;
  height: 350px;
  right: -209px;
  top: 70px;
}

.bg-image-left {
  background-image: url(../images/img-about-1.png);
  width: 196px;
  height: 300px;
  bottom: 100px;
  left: 0px;
}

.bg-image-right {
  background-image: url(../images/img-about-3.png);
  width: 416px;
  height: 128px;
  top: 160px;
  right: 0px;
}

.deco-spin:hover .deco-circle {
  animation: headShake 1s linear infinite;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0);
  }
}
.bg-image {
  background-image: url("../images/img_diy_bg.png"); /* 背景圖片*/
  width: 100%;
  height: 600px;
  border-radius: 80px 0px 80px 0px;
  overflow: hidden;
}

.bg-image-mobile {
  background-image: url("../images/img_diy_bg.png"); /* 手機板背景圖片*/
  height: 903px;
  border-radius: 80px 0px 80px 0px;
  overflow: hidden;
  background-position: center;
}

.bg-image2 {
  background-image: url("../images/img-scroll-view-bg.jpg"); /* 背景圖片*/
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 562px; /* 可依需求調整高度 */
}

.bg-image3 {
  background-image: url("../images/img-scroll-view-bg.jpg"); /* 背景圖片*/
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image2-mobile {
  background-image: url("../images/img-scrollView-m.png"); /* 手機板背景圖片*/
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* 可依需求調整高度 */
}

#base-image {
  position: absolute;
  top: 120px;
  left: 450px;
}

#dynamic-image {
  position: absolute;
  width: 48px;
  height: 48px;
  display: none;
}

#diy-left-image {
  position: absolute;
  top: 0px;
  left: 0px;
}

#diy-left-dynamic-image {
  position: absolute;
  width: 48px;
  height: 48px;
  display: none;
}

.white-border {
  position: relative;
}

.white-border::after {
  content: "";
  position: absolute;
  border: 1px solid #fff;
  border-radius: 40px 0px;
  top: 1.25rem;
  right: 1.25rem;
  bottom: 1.25em;
  left: 1.25em;
}

.lt-card-img-box {
  width: auto;
}
.lt-card-img-box .lt-card-img {
  width: 100%;
  height: 100%;
}
.lt-card-img-box p {
  bottom: 36px;
}

.article-br img {
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.article-br p {
  /* R_18px_200% */
  font-family: Noto Serif TC;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 36px */
  letter-spacing: 0.36px;
}

.span-one {
  display: none;
}

.more-content {
  border: 1px solid var(--Yellow-Light, #e9d79c);
  min-width: 167.5px;
  height: 100%;
}
.more-content-bg {
  top: 50%;
  left: 50%;
  min-width: 300px;
  transform: translate(-50%, -50%);
}
.more-content-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.more-content-logo {
  z-index: 2;
  width: 280px;
  height: 56px;
  padding: 2.8px 4.76px 0px 5.6px;
}
.more-content a {
  bottom: 48px;
}

.custom-card {
  position: relative;
  width: 100%;
  max-width: 306px;
  height: 240px;
  max-height: 240px;
  transition: 0.3s;
}
.custom-card:hover {
  width: 100%;
  max-width: 306px;
  height: 100%;
  min-height: 240px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}
.custom-card:hover .custom-img-box {
  transform: scale(0.6) translate(-25%, -80%);
}
.custom-card:hover .custom-img-box img {
  border-radius: 12px;
}
.custom-card:hover .custom-content {
  top: 60px;
  height: auto;
}

.custom-img-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  z-index: 2;
}
.custom-img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.custom-content {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  padding: 32px 16px 12px;
}
.custom-content p {
  font-family: Noto Serif TC;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  letter-spacing: 0.28px;
}
.custom-content .grey-border {
  border-right: 1px solid #d4d4d4;
}

.custom-footer a {
  transition: background-color 0.5s, padding 0.5s;
}
.custom-footer p {
  color: #566b5a;
}
.custom-footer a:hover {
  opacity: 80%;
}
.custom-footer a:active p {
  color: #ff985e;
}

/* 手機版 */
@media (max-width: 767.98px) {
  .lt-card-img-box {
    width: auto;
    max-width: 400px;
    height: 520px;
  }
  .lt-card-img-box .lt-card-img {
    width: 100%;
    height: 100%;
  }
  .article-br img {
    width: auto;
    height: 240px;
  }
  .span-one {
    display: inline;
  }
  .span-two {
    display: none;
  }
  .more-content {
    border: 1px solid var(--Yellow-Light, #e9d79c);
    min-width: 167.5px;
    height: 240px;
  }
  .more-content-bg {
    top: 50%;
    left: 55%;
    min-width: 167.5px;
    transform: translate(-58%, -50%);
  }
  .more-content-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .more-content-logo {
    z-index: 2;
    width: 140px;
    height: 28px;
    padding: 1.4px 2.38px 0px 2.8px;
  }
  .more-content a {
    bottom: 48px;
  }
  .custom-title p {
    font-family: "Noto Serif TC";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 21.6px */
    letter-spacing: 0.36px;
  }
  .custom-card {
    margin: auto;
  }
  .custom-card:hover {
    width: 306px;
    height: 100%;
  }
  .custom-card h2 {
    font-family: "Playfair Display SC";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 38.4px */
    letter-spacing: 0.32px;
  }
  .custom-lists img {
    width: 100%;
    height: 240px;
  }
  .custom-card {
    margin: auto;
  }
  .custom-card:hover {
    width: 306px;
    height: 100%;
  }
  .custom-footer img {
    width: 280px;
    height: 56px;
  }
}
.scroll-top-btn {
  position: fixed;
  right: 24px;
  bottom: 185px;
  z-index: 3;
  opacity: 0;
  transition: 0.5s;
}
.scroll-top-btn a {
  background: #566b5a;
  width: 36px;
  height: 36px;
  padding: 0 6px;
  border-radius: 50px;
  pointer-events: none;
}
.scroll-top-btn.active {
  opacity: 1;
}
.scroll-top-btn.active a {
  pointer-events: auto;
}
@media (max-width: 767.98px) {
  .scroll-top-btn {
    bottom: 280px;
  }
}

.d-396-none {
  display: block;
}
@media (min-width: 396px) {
  .d-396-none {
    display: none;
  }
}

.cus-pic {
  max-height: 500px;
}
@media (max-width: 991.98px) {
  .cus-pic {
    max-height: 400px;
  }
}

.icon {
  display: none;
}

.bgCustomblog {
  background-repeat: no-repeat;
  background-size: cover;
}

.text-indent {
  text-indent: 2em;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

.accordion-item.no-border {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.imageOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.imageContainer {
  -o-object-position: center;
     object-position: center;
}

.imageContainer:hover .imageOverlay {
  opacity: 1;
}

.text-with-bg {
  display: inline-block;
  background-color: rgba(128, 128, 128, 0.5); /* 灰色背景，50% 透明度 */
  padding: 10px; /* 內部邊距，讓背景更顯著 */
}

.google-account,
.line-account {
  width: 100%;
  max-width: 416px;
  border-radius: 1.5rem;
  color: #566b5a;
  transition: 0.5s;
}

.google-account {
  border: 1px solid #0074d9;
}
.google-account:hover {
  background-color: #0074d9;
  color: #fff;
}

.line-account {
  border: 1px solid #00c300;
}
.line-account:hover {
  background-color: #00c300;
  color: #fff;
}

.hr-line::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: black;
  margin-right: 8px;
}

.hr-line::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: black;
  margin-left: 8px;
}

.member-form {
  max-width: 500px;
}
.member-form a {
  text-decoration: underline;
}

.sub-button {
  width: 500px;
}
.sub-button img {
  width: 20px;
  height: 20px;
}
@media (max-width: 767.98px) {
  .sub-button {
    width: 250px;
  }
}

.shopRWD {
  width: 50%;
}
@media (max-width: 767.98px) {
  .shopRWD {
    width: 100%;
  }
}