<!doctype html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Green Sheep</title>
    <!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="<%- htmlWebpackPlugin.options.meta.keywords %>"/>
    <meta property="og:title" content="<%- htmlWebpackPlugin.options.meta.og.title %>" />
    <meta property="og:url" content="<%- htmlWebpackPlugin.options.meta.og.url %>" />
    <meta property="og:type" content="<%- htmlWebpackPlugin.options.meta.og.type %>" />
    <meta property="og:description" content="<%- htmlWebpackPlugin.options.meta.og.description %>" />
    <meta property="og:image" content="<%- htmlWebpackPlugin.options.meta.og.image %>" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title> -->
  </head>
  <body>
    <div id="app" class="background-gradient"></div>
    <script type="module" src="/src/main.js"></script>
    <script src="https://www.itxst.com/package/vue/vue.min.js"></script>
    <script src="https://www.itxst.com/package/sortable/Sortable.min.js"></script>
    <script src="https://www.itxst.com/package/vuedraggable/vuedraggable.umd.min.js"></script>
  </body>
</html>
