//正常大小寫標題字
.font-nosc-playfair {
  font-family: "Playfair Display", serif;
}
//單純noto serif字體
.font-noto-serif {
  font-family: "Noto Serif TC", sans-serif;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.font-notosans {
  font-family: "Noto Sans TC", sans-serif;
}
