<div class="scroll-top-btn">
  <a href="#" class="d-flex justify-content-center align-items-center">
    <img src="../assets/images/img_gotop.svg" alt="回到最上層按鈕"
  /></a>
  <div class="scroll-top-content text-primary">TOP</div>
</div>
