<footer class="footer">
  <div class="container-fluid bg-primary py-lg-12 py-8">
    <div class="container-lg">
      <!-- footer-top -->
      <div
        class="d-flex flex-lg-row justify-content-lg-between mb-lg-4 flex-column-reverse mb-6"
      >
        <ul
          class="footer-top-left list-unstyled d-flex flex-lg-row flex-column align-items-center mb-0"
        >
          <div class="d-flex mb-lg-0 align-items-lg-center mb-4">
            <li>
              <a href="2-1.productPage.html" class="fs-8 text-white me-lg-6"
                >最新作品</a
              >
            </li>
            <li>
              <a
                href="3-1.cusProduct.html"
                class="fs-8 text-white me-lg-6 mx-lg-0 mx-12"
                >客製設計</a
              >
            </li>
            <li>
              <a href="4-1.Story.html" class="fs-8 text-white me-lg-6"
                >關於品牌</a
              >
            </li>
          </div>
          <div class="d-flex align-items-lg-center">
            <li>
              <a href="5-1.blog.html" class="fs-8 text-white me-lg-6 me-12"
                >專欄文章</a
              >
            </li>
            <li><a href="6-1.faq.html" class="fs-8 text-white">常見問題</a></li>
          </div>
        </ul>
        <div
          class="footer-top-right d-flex justify-content-between mb-4 mb-lg-0"
        >
          <!-- logo svg -->
          <div class="me-2 me-lg-6">
            <a href="index.html">
              <img
                src="../assets/images/logo-white.svg"
                alt="greensheep logo"
                class="img-fluid"
            /></a>
          </div>
          <!-- social-medias -->
          <ul
            class="social-media-list list-unstyled d-flex justify-content-between mb-0"
          >
            <li class="me-4">
              <a href="#">
                <!-- line svg -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <g clip-path="url(#clip0_2342_4058)">
                    <path
                      opacity="0.7"
                      d="M39.5 20C39.5 30.7696 30.7696 39.5 20 39.5C9.23045 39.5 0.5 30.7696 0.5 20C0.5 9.23045 9.23045 0.5 20 0.5C30.7696 0.5 39.5 9.23045 39.5 20Z"
                      stroke="none"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M29 19.0263C29 15.152 24.9625 12 20 12C15.0377 12 11 15.152 11 19.0263C11 22.4994 14.2019 25.4086 18.527 25.9589C18.8199 26.0196 19.2188 26.1451 19.3198 26.386C19.4106 26.6047 19.3793 26.9474 19.3488 27.1685C19.3488 27.1685 19.2436 27.7796 19.2204 27.91C19.1814 28.1288 19.0395 28.7659 20 28.3767C20.9608 27.9874 25.1828 25.4404 27.071 23.3494C28.3754 21.9736 29 20.577 29 19.0263ZM14.4146 21.1339C14.1861 21.1339 14 20.9408 14 20.703V17.4397C14 17.2022 14.2116 17.0089 14.48 17.0089C14.7484 17.0089 14.9 17.2006 14.9 17.4397V20.2724H15.9854C16.2143 20.2724 16.4 20.4657 16.4 20.703C16.4 20.9408 16.2143 21.1339 15.9854 21.1339H14.4146ZM18.2 20.703C18.2 20.9408 17.9981 21.1339 17.7501 21.1339C17.5019 21.1339 17.3 20.9408 17.3 20.703V17.4397C17.3 17.2022 17.5019 17.0089 17.7501 17.0089C17.9981 17.0089 18.2 17.2022 18.2 17.4397V20.703ZM22.7 20.703C22.7 20.889 22.5717 21.0532 22.3797 21.1116C22.3316 21.1265 22.2813 21.1339 22.2309 21.1339C22.0849 21.1339 21.9449 21.0696 21.8566 20.9616L20.0372 18.6842V20.703C20.0372 20.9408 19.8272 21.1339 19.5687 21.1339C19.3103 21.1339 19.1 20.9408 19.1 20.703V17.4397C19.1 17.2541 19.2288 17.0899 19.4203 17.0312C19.4686 17.0162 19.5187 17.0089 19.5691 17.0089C19.7153 17.0089 19.8554 17.0731 19.9431 17.1812L21.7631 19.4587V17.4397C21.7631 17.2022 21.9735 17.0089 22.2316 17.0089C22.4902 17.0089 22.7 17.2022 22.7 17.4397V20.703ZM25.5853 18.6407C25.8142 18.6407 26 18.8339 26 19.0715C26 19.3088 25.8142 19.502 25.5853 19.502H24.4294V20.2724H25.5853C25.8138 20.2724 26 20.4657 26 20.703C26 20.9408 25.8138 21.1339 25.5853 21.1339H24.0145C23.7863 21.1339 23.6 20.9408 23.6 20.703V19.0726V19.0715V17.4397C23.6 17.2022 23.7859 17.0089 24.0145 17.0089H25.5853C25.8142 17.0089 26 17.2022 26 17.4397C26 17.6772 25.8142 17.8702 25.5853 17.8702H24.4294V18.6407H25.5853Z"
                      fill="#D5D5D5"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_2342_4058">
                      <rect width="40" height="40" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </li>
            <li class="me-4">
              <a
                href="https://www.facebook.com/profile.php?id=100071826680344"
                target="_blank"
              >
                <!-- fb svg -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <g clip-path="url(#clip0_2342_4061)">
                    <path
                      opacity="0.7"
                      d="M39.5 20C39.5 30.7696 30.7696 39.5 20 39.5C9.23045 39.5 0.5 30.7696 0.5 20C0.5 9.23045 9.23045 0.5 20 0.5C30.7696 0.5 39.5 9.23045 39.5 20Z"
                      stroke="none"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M21.5983 20.9736H24.1413L24.5219 18.0404H21.5983V16.1677C21.5983 15.3184 21.8357 14.7397 23.0615 14.7397L24.625 14.739V12.1156C24.3545 12.0799 23.4265 12 22.3467 12C20.0926 12 18.5494 13.3669 18.5494 15.8773V18.0404H16V20.9736H18.5494V28.5H21.5983V20.9736Z"
                      fill="#D5D5D5"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_2342_4061">
                      <rect width="40" height="40" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/greensheep_jewelry/"
                target="_blank"
              >
                <!-- ig svg -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 40 40"
                  fill="none"
                >
                  <g clip-path="url(#clip0_2342_4064)">
                    <path
                      opacity="0.7"
                      d="M39.5 20C39.5 30.7696 30.7696 39.5 20 39.5C9.23045 39.5 0.5 30.7696 0.5 20C0.5 9.23045 9.23045 0.5 20 0.5C30.7696 0.5 39.5 9.23045 39.5 20Z"
                      stroke="none"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M20.0625 12C17.771 12 17.4837 12.0097 16.5837 12.0508C15.6857 12.0917 15.0723 12.2344 14.5356 12.443C13.9808 12.6586 13.5102 12.9471 13.0411 13.4161C12.5721 13.8852 12.2836 14.3558 12.068 14.9106C11.8594 15.4473 11.7167 16.0607 11.6758 16.9587C11.6347 17.8587 11.625 18.146 11.625 20.4375C11.625 22.729 11.6347 23.0163 11.6758 23.9163C11.7167 24.8143 11.8594 25.4277 12.068 25.9644C12.2836 26.5192 12.5721 26.9898 13.0411 27.4589C13.5102 27.9279 13.9808 28.2164 14.5356 28.4321C15.0723 28.6406 15.6857 28.7833 16.5837 28.8242C17.4837 28.8653 17.771 28.875 20.0625 28.875C22.354 28.875 22.6413 28.8653 23.5413 28.8242C24.4393 28.7833 25.0527 28.6406 25.5894 28.4321C26.1442 28.2164 26.6148 27.9279 27.0839 27.4589C27.5529 26.9898 27.8414 26.5192 28.0571 25.9644C28.2656 25.4277 28.4083 24.8143 28.4492 23.9163C28.4903 23.0163 28.5 22.729 28.5 20.4375C28.5 18.146 28.4903 17.8587 28.4492 16.9587C28.4083 16.0607 28.2656 15.4473 28.0571 14.9106C27.8414 14.3558 27.5529 13.8852 27.0839 13.4161C26.6148 12.9471 26.1442 12.6586 25.5894 12.443C25.0527 12.2344 24.4393 12.0917 23.5413 12.0508C22.6413 12.0097 22.354 12 20.0625 12ZM20.0625 13.5203C22.3154 13.5203 22.5823 13.5289 23.472 13.5695C24.2946 13.607 24.7414 13.7444 25.0387 13.86C25.4325 14.013 25.7136 14.1959 26.0088 14.4912C26.3041 14.7864 26.487 15.0675 26.64 15.4613C26.7556 15.7586 26.893 16.2054 26.9305 17.028C26.9711 17.9177 26.9797 18.1846 26.9797 20.4375C26.9797 22.6904 26.9711 22.9573 26.9305 23.847C26.893 24.6696 26.7556 25.1164 26.64 25.4137C26.487 25.8075 26.3041 26.0886 26.0088 26.3838C25.7136 26.6791 25.4325 26.862 25.0387 27.015C24.7414 27.1306 24.2946 27.268 23.472 27.3055C22.5824 27.3461 22.3156 27.3547 20.0625 27.3547C17.8094 27.3547 17.5426 27.3461 16.653 27.3055C15.8304 27.268 15.3836 27.1306 15.0863 27.015C14.6925 26.862 14.4114 26.6791 14.1162 26.3838C13.8209 26.0886 13.638 25.8075 13.485 25.4137C13.3694 25.1164 13.232 24.6696 13.1945 23.847C13.1539 22.9573 13.1453 22.6904 13.1453 20.4375C13.1453 18.1846 13.1539 17.9177 13.1945 17.028C13.232 16.2054 13.3694 15.7586 13.485 15.4613C13.638 15.0675 13.8209 14.7864 14.1162 14.4912C14.4114 14.1959 14.6925 14.013 15.0863 13.86C15.3836 13.7444 15.8304 13.607 16.653 13.5695C17.5427 13.5289 17.8096 13.5203 20.0625 13.5203ZM20.0625 16.1047C17.6696 16.1047 15.7297 18.0446 15.7297 20.4375C15.7297 22.8304 17.6696 24.7703 20.0625 24.7703C22.4554 24.7703 24.3953 22.8304 24.3953 20.4375C24.3953 18.0446 22.4554 16.1047 20.0625 16.1047ZM20.0625 23.25C18.5092 23.25 17.25 21.9908 17.25 20.4375C17.25 18.8842 18.5092 17.625 20.0625 17.625C21.6158 17.625 22.875 18.8842 22.875 20.4375C22.875 21.9908 21.6158 23.25 20.0625 23.25ZM25.579 15.9336C25.579 15.3744 25.1256 14.921 24.5664 14.921C24.0073 14.921 23.554 15.3744 23.554 15.9336C23.554 16.4927 24.0073 16.946 24.5664 16.946C25.1256 16.946 25.579 16.4927 25.579 15.9336Z"
                      fill="#D5D5D5"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_2342_4064">
                      <rect width="40" height="40" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- footer-line -->
      <hr />

      <!-- footer-bottom -->
      <div
        class="d-flex flex-lg-row justify-content-lg-between mt-lg-4 flex-column-reverse mt-6"
      >
        <p class="display-lg-8 display-9">
          Copyright ©2023 綠羊 Green Sheep.All rights reserved.
        </p>
        <p class="display-lg-8 mb-lg-0 display-9 mb-4">
          greensheepjewelry@gmail.com
        </p>
      </div>
    </div>
  </div>
</footer>
