.dp-custom {
  .dp__theme_light {
    --dp-primary-color: #566b5a !important; // $primary
    --dp-primary-disabled-color: #566b5aa6 !important; // rgba($primary, 0.65)
  }
  .dp__input {
    border-radius: 0;
    border: 1px solid #dee2e6; // input 預設顏色
    &:hover {
      border-color: #dee2e6;
    }
  }
  &-invalid {
    input {
      border-color: $danger !important;
      padding-right: calc(1.5em + 0.75rem);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
  }
  .dp__clear_icon {
    right: -36px;
  }
}
