.cus-pagination {
  color: $primary;
  display: flex;
  justify-content: center;

  gap: 16px;
  a {
    width: 24px;
    height: 24px;
    line-height: 24px;

    border-radius: 50%;
    background-color: transparent;

    &:hover {
      background-color: $white;
    }
    &:focus {
      background-color: $white;
    }
  }
}
.page-item {
  & .active {
    background-color: $white !important;
  }
}
