.cus-pagination {
  color: $primary;
  display: flex;
  justify-content: center;
  gap: 16px;
  &.active {
    border-radius: 50%;
    background-color: $white !important;
  }
  a {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    background-color: transparent;

    &:hover {
      background-color: $white;
    }
    &:focus {
      background-color: $white;
    }
  }
}
.page-link {
  display: inline-block;
  &.active {
    border-radius: 50%;
    background-color: $white !important;
  }
}
.page-item {
  &.active {
    border-radius: 50%;
    background-color: $white !important;
  }
}
