.va-pagination {
  & .page-link {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    background-color: transparent;
  }
  & .active {
    border-radius: 50%;
    background-color: #fff !important;
  }
}

