<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <!-- favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/logo-circle-gold.png"
    />
    <title>GreenSheep handmade jewelry</title>
  </head>

  <body>
    <div class="background-gradient">
      <%- include('./layout/header'); -%>
      <div class="container py-7 py-lg-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">客製設計</li>
          </ol>
        </nav>
        <div class="d-flex flex-column flex-lg-row gap-10 algn-items-center">
          <div class="w-100 w-lg-45 h-100">
            <!-- 預覽照片 -->
            <div class="position-relative">
              <img
                src="../assets/images/custom-front.JPG"
                alt=""
                class="d-block w-100 img-fluid mb-4 cus-pic object-fit-cover"
              />
              <img
                id="icon-1"
                src="../assets/images/1month.png"
                alt="一月"
                class="position-absolute top-485 start-53 translate-middle icon"
                style="width: 20px; height: 20px"
              />
              <img
                id="icon-2"
                src="../assets/images/2month.png"
                alt="二月"
                class="position-absolute top-485 start-53 translate-middle icon"
                style="width: 20px; height: 20px"
              />
              <img
                id="icon-3"
                src="../assets/images/3month.png"
                alt="三月"
                class="position-absolute top-485 start-53 translate-middle icon"
                style="width: 20px; height: 20px"
              />
              <img
                id="icon-4"
                src="../assets/images/4month.png"
                alt="四月"
                class="position-absolute top-485 start-53 translate-middle icon"
                style="width: 20px; height: 20px"
              />
              <img
                id="icon-5"
                src="../assets/images/5month.png"
                alt="五月"
                class="position-absolute top-485 start-53 translate-middle icon"
                style="width: 20px; height: 20px"
              />
              <img
                id="icon-6"
                src="../assets/images/6month.png"
                alt="六月"
                class="position-absolute top-485 start-53 translate-middle icon"
                style="width: 20px; height: 20px"
              />
              <img
                id="icon-7"
                src="../assets/images/7month.png"
                alt="七月"
                class="position-absolute top-485 start-53 translate-middle icon"
                style="width: 20px; height: 20px"
              />
              <img
                id="icon-8"
                src="../assets/images/8month.png"
                alt="八月"
                class="position-absolute top-485 start-53 translate-middle icon"
                style="width: 20px; height: 20px"
              />
              <img
                id="icon-9"
                src="../assets/images/9month.png"
                alt="九月"
                class="position-absolute top-485 start-53 translate-middle icon"
                style="width: 20px; height: 20px"
              />
              <img
                id="icon-10"
                src="../assets/images/10month.png"
                alt="十月"
                class="position-absolute top-485 start-53 translate-middle icon"
                style="width: 20px; height: 20px"
              />
              <img
                id="icon-11"
                src="../assets/images/11month.png"
                alt="十一月"
                class="position-absolute top-485 start-53 translate-middle icon"
                style="width: 20px; height: 20px"
              />
              <img
                id="icon-12"
                src="../assets/images/12month.png"
                alt="十二月"
                class="position-absolute top-485 start-53 translate-middle icon"
                style="width: 20px; height: 20px"
              />
            </div>

            <p
              class="font-montserrat fs-9 text-grey9F text-end text-lg-start mb-1"
            >
              每顆寶石均為天然寶石，有些許色差及天然內含物，均為正常現象。
            </p>
            <p class="font-montserrat fs-9 text-grey9F text-end text-lg-start">
              即時照片預覽為參考，設計師會依照實際狀況及美感做些許位置及尺寸大小調整。
            </p>
          </div>
          <div
            class="w-100 w-lg-55 text-center d-flex flex-column justify-content-center"
          >
            <div class="d-flex align-items-center mt-4 mb-2 mx-auto">
              <h1 class="fw-bold fs-3 fs-lg-2 me-5">璀璨生日寶石項鍊</h1>
              <!-- 愛心收藏 -->
              <svg
                class="heart-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                />
              </svg>
            </div>
            <span
              class="d-inline-block mx-auto text-secondary fs-4 fs-lg-3 fw-medium mb-2 mb-lg-8"
              >NT$3,800起</span
            >

            <h2 class="fs-3 fs-lg-2 mb-3 fw-medium">Step 1 : 選擇專屬寶石</h2>
            <!-- 寶石列表 -->
            <ul class="row mb-0 ps-0 py-5">
              <li
                class="col-2 d-flex flex-column align-items-ceter text-dark font-montserrat fs-8 cursor-pointer mb-5 toggle-button"
                data-target="icon-1"
              >
                <span class="mb-1 fw-medium">1月</span
                ><span class="mb-2 mb-sm-0">石榴石</span>
                <span class="d-none d-sm-block mb-1">Garnet</span
                ><img
                  src="../assets/images/1month.png"
                  alt=""
                  class="d-block mx-auto"
                  style="width: 20px; height: 20px"
                />
              </li>

              <li
                class="col-2 d-flex flex-column align-items-ceter text-dark font-montserrat fs-8 cursor-pointer mb-5 toggle-button"
                data-target="icon-2"
              >
                <span class="mb-1 fw-medium">2月</span
                ><span class="mb-2 mb-sm-0">紫水晶</span>
                <span class="d-none d-sm-block mb-1">Amethyst</span
                ><img
                  src="../assets/images/2month.png"
                  alt=""
                  class="d-block mx-auto"
                  style="width: 20px; height: 20px"
                />
              </li>
              <li
                class="col-2 d-flex flex-column align-items-ceter text-dark font-montserrat fs-8 cursor-pointer mb-5 toggle-button"
                data-target="icon-3"
              >
                <span class="mb-1 fw-medium">3月</span
                ><span class="mb-2 mb-sm-0">海藍寶</span>
                <span class="d-none d-sm-block mb-1">Aquamarine</span
                ><img
                  src="../assets/images/3month.png"
                  alt=""
                  class="d-block mx-auto"
                  style="width: 20px; height: 20px"
                />
              </li>
              <li
                class="col-2 d-flex flex-column align-items-ceter text-dark font-montserrat fs-8 cursor-pointer mb-5 toggle-button"
                data-target="icon-4"
              >
                <span class="mb-1 fw-medium">4月</span
                ><span class="mb-2 mb-sm-0">鑽石</span>
                <br class="d-396-none" />
                <span class="d-none d-sm-block mb-1">Diamond</span
                ><img
                  src="../assets/images/4month.png"
                  alt=""
                  class="d-block mx-auto"
                  style="width: 20px; height: 20px"
                />
              </li>
              <li
                class="col-2 d-flex flex-column align-items-ceter text-dark font-montserrat fs-8 cursor-pointer mb-5 toggle-button"
                data-target="icon-5"
              >
                <span class="mb-1 fw-medium">5月</span
                ><span class="mb-2 mb-sm-0">祖母綠</span>
                <span class="d-none d-sm-block mb-1">Emerald</span
                ><img
                  src="../assets/images/5month.png"
                  alt=""
                  class="d-block mx-auto"
                  style="width: 20px; height: 20px"
                />
              </li>
              <li
                class="col-2 d-flex flex-column align-items-ceter text-dark font-montserrat fs-8 cursor-pointer mb-5 toggle-button"
                data-target="icon-6"
              >
                <span class="mb-1 fw-medium">6月</span
                ><span class="mb-2 mb-sm-0">月光石</span>
                <span class="d-none d-sm-block mb-1">Moonstone</span
                ><img
                  src="../assets/images/6month.png"
                  alt=""
                  class="d-block mx-auto"
                  style="width: 20px; height: 20px"
                />
              </li>
              <li
                class="col-2 d-flex flex-column align-items-ceter text-dark font-montserrat fs-8 cursor-pointer mb-5 toggle-button"
                data-target="icon-7"
              >
                <span class="mb-1 fw-medium">7月</span
                ><span class="mb-2 mb-sm-0">紅寶石</span>
                <span class="d-none d-sm-block mb-1">Ruby</span
                ><img
                  src="../assets/images/7month.png"
                  alt=""
                  class="d-block mx-auto"
                  style="width: 20px; height: 20px"
                />
              </li>
              <li
                class="col-2 d-flex flex-column align-items-ceter text-dark font-montserrat fs-8 cursor-pointer mb-5 toggle-button"
                data-target="icon-8"
              >
                <span class="mb-1 fw-medium">8月</span
                ><span class="mb-2 mb-sm-0">橄欖石</span>
                <span class="d-none d-sm-block mb-1">Peridot</span
                ><img
                  src="../assets/images/8month.png"
                  alt=""
                  class="d-block mx-auto"
                  style="width: 20px; height: 20px"
                />
              </li>
              <li
                class="col-2 d-flex flex-column align-items-ceter text-dark font-montserrat fs-8 cursor-pointer mb-5 toggle-button"
                data-target="icon-9"
              >
                <span class="mb-1 fw-medium">9月</span
                ><span class="mb-2 mb-sm-0">藍寶石</span>
                <span class="d-none d-sm-block mb-1">Sapphire</span
                ><img
                  src="../assets/images/9month.png"
                  alt=""
                  class="d-block mx-auto"
                  style="width: 20px; height: 20px"
                />
              </li>
              <li
                class="col-2 d-flex flex-column align-items-ceter text-dark font-montserrat fs-8 cursor-pointer mb-5 toggle-button"
                data-target="icon-10"
              >
                <span class="mb-1 fw-medium">10月</span
                ><span class="mb-2 mb-sm-0">粉碧璽</span>
                <span class="d-none d-sm-block mb-1">Tourmaline</span
                ><img
                  src="../assets/images/10month.png"
                  alt=""
                  class="d-block mx-auto"
                  style="width: 20px; height: 20px"
                />
              </li>
              <li
                class="col-2 d-flex flex-column align-items-ceter text-dark font-montserrat fs-8 cursor-pointer mb-5 toggle-button"
                data-target="icon-11"
              >
                <span class="mb-1 fw-medium">11月</span
                ><span class="mb-2 mb-sm-0">黃水晶</span>
                <span class="d-none d-sm-block mb-1">Citrine</span
                ><img
                  src="../assets/images/11month.png"
                  alt=""
                  class="d-block mx-auto"
                  style="width: 20px; height: 20px"
                />
              </li>
              <li
                class="col-2 d-flex flex-column align-items-ceter text-dark font-montserrat fs-8 cursor-pointer mb-5 toggle-button"
                data-target="icon-12"
              >
                <span class="mb-1 fw-medium">12月</span
                ><span class="mb-2 mb-sm-0">坦桑石</span>
                <span class="d-none d-sm-block mb-1">Tanzanite</span
                ><img
                  src="../assets/images/12month.png"
                  alt=""
                  class="d-block mx-auto"
                  style="width: 20px; height: 20px"
                />
              </li>
            </ul>
            <div class="d-flex justify-content-center gap-0 gap-lg-6">
              <a
                href="3-2.cusDetail-.html"
                class="custom-btn bg-white text-primary fw-bold py-4 px-8"
                >上一步</a
              >
              <a
                href="3-4.cusText.html"
                class="custom-btn custom-btn-next bg-primary text-white fw-medium py-4 px-10"
                >下一步：雷刻文字</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
