<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <!-- favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/logo-circle-gold.png"
    />
    <title>GreenSheep handmade jewelry</title>
  </head>

  <body>
    <div class="background-gradient">
      <%- include('./layout/header'); -%>
      <div class="container py-7 py-lg-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首頁</a></li>
            <li class="breadcrumb-item active">
              <a href="3-1.cusProduct.html">客製設計</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              璀璨生日寶石項鍊
            </li>
          </ol>
        </nav>
        <div class="d-flex flex-column flex-lg-row gap-10 algn-items-center">
          <div class="w-100 w-lg-45 h-100">
            <!-- 預覽照片 -->
            <div class="position-relative">
              <img
                src="../assets/images/custom-back.JPG"
                alt=""
                class="d-block w-100 img-fluid mb-4 cus-pic object-fit-cover"
              />
              <div
                class="preview-section position-absolute top-56 start-50 translate-middle"
              >
                <div class="preview-text text-black fw-medium">
                  <p id="previewText">輸入內容</p>
                </div>
              </div>
            </div>

            <p
              class="font-montserrat fs-9 text-grey9F text-end text-lg-start mb-1"
            >
              每顆寶石均為天然寶石，有些許色差及天然內含物，均為正常現象。
            </p>
            <p class="font-montserrat fs-9 text-grey9F text-end text-lg-start">
              即時照片預覽為參考，設計師會依照實際狀況及美感做些許位置及尺寸大小調整。
            </p>
          </div>
          <div
            class="w-100 w-lg-55 text-center d-flex flex-column justify-content-center"
          >
            <div class="d-flex align-items-center mt-4 mb-2 mx-auto">
              <h1 class="fw-bold fs-3 fs-lg-2 me-5">璀璨生日寶石項鍊</h1>
              <!-- 愛心收藏 -->
              <svg
                class="heart-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                />
              </svg>
            </div>
            <span
              class="d-inline-block mx-auto text-secondary fs-4 fs-lg-3 fw-medium mb-2 mb-lg-8"
              >NT$3,800起</span
            >

            <h2 class="fs-3 fs-lg-2 mb-3 fw-medium">Step 2 : 輸入你想說的話</h2>
            <!-- 輸入文字 -->
            <div class="container mb-5">
              <form class="row mx-auto">
                <div class="col-10 gx-0">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control no-box-shadow bg-white"
                      id="inputText"
                      placeholder="請輸入雷刻文字內容"
                    />
                    <label for="inputText">請輸入雷刻文字內容</label>
                  </div>
                </div>
                <button class="col-2 btn btn-primary" id="previewButton">
                  預覽
                </button>

                <div id="step2HelpBlock" class="form-text text-start">
                  (中文最多5個字，英文最多10個字母)
                </div>
              </form>
              <div class="row mx-auto py-4">
                <div class="col-4">
                  <label
                    for="Montserrat"
                    class="fs-2 fw-medium text-dark"
                    style="font-family: 'Montserrat', sans-serif"
                    >Love</label
                  >
                  <br />
                  <input
                    type="radio"
                    name="fontRadio"
                    value="Montserrat"
                    id="Montserrat"
                    checked
                  />
                  <label
                    for="Montserrat"
                    class="fs-7 fw-medium text-primary"
                    style="font-family: 'Montserrat', sans-serif"
                    >現代</label
                  >
                </div>

                <div class="col-4">
                  <label
                    for="NotoSerif"
                    class="fs-2 fw-medium text-dark"
                    style="font-family: 'Noto Serif TC', sans-serif"
                    >Love</label
                  >
                  <br />
                  <input
                    type="radio"
                    name="fontRadio"
                    value="Noto Serif TC"
                    id="NotoSerif"
                  />
                  <label
                    for="NotoSerif"
                    class="fs-7 fw-medium text-primary"
                    style="font-family: 'Noto Serif TC', sans-serif"
                    >古典</label
                  >
                </div>

                <div class="col-4">
                  <label
                    for="Script"
                    class="fs-2 fw-medium text-dark"
                    style="font-family: 'Dancing Script', sans-serif"
                    >Love</label
                  >
                  <br />
                  <input
                    type="radio"
                    name="fontRadio"
                    value="Dancing Script"
                    id="Script"
                  />

                  <label
                    for="Script"
                    class="fs-8 fw-medium text-primary"
                    style="font-family: 'Dancing Script', sans-serif"
                    >手寫（限英文）</label
                  >
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center gap-0 gap-lg-6">
              <a
                href="3-3.cusGem.html"
                class="custom-btn bg-white text-primary fw-bold py-4 px-8"
                >上一步</a
              >
              <a
                href="#"
                class="custom-btn custom-btn-next2 bg-primary text-white fw-medium py-4 px-10"
                >下一步：加入購物車</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
