<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <title>GreenSheep handmade jewelry</title>
  </head>

  <body>
    <div class="background-gradient">
      <%- include('./layout/header'); -%>
      <div class="swiper mySwiper" style="margin-top: -65px">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="https://images.unsplash.com/photo-1554047310-ab6170fc7b10?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt=""
              class="w-100 object-fit-cover"
              style="height: 450px"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://images.unsplash.com/photo-1684616290729-347a70d05d26?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt=""
              class="w-100 object-fit-cover"
              style="height: 450px"
            />
          </div>

          <div class="swiper-slide">
            <img
              src="https://images.unsplash.com/photo-1539050125830-eb92d115b2b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt=""
              class="w-100 object-fit-cover"
              style="height: 450px"
            />
          </div>
        </div>
      </div>

      <div class="container py-7 py-lg-20 mb-20">
        <nav aria-label="breadcrumb ">
          <ol class="breadcrumb mb-20">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item">
              <a href="5-1.blog.html">專欄文章</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              「鑽石不是最閃的! 寶石的暗黑馬拉松選手」
            </li>
          </ol>
        </nav>

        <h1 class="h2 text-primary mb-12 fw-bold">
          「鑽石不是最閃的! 寶石的暗黑馬拉松選手」
        </h1>

        <p class="fs-7 text-primary font-noto-serif lh-lg text-start">
          你或許一直以為鑽石是寶石界最閃亮的寶石，但事實上，那只是冰山一角。在珠寶的世界中，存在著一群暗黑馬拉松選手，他們的獨特魅力比鑽石更加令人驚艷。
          <br />

          首先，讓我們認識一下黑鑽石。黑鑽石的神秘色澤和奪目光芒使其成為許多時尚愛好者追求的寶石。它的黑色魅力在光線的照射下閃爍著神祕的光芒，讓人無法移開目光。與普通的白鑽石相比，黑鑽石散發出一種獨特而神秘的魅力，成為時尚界的新寵兒。
        </p>
        <p class="fs-7 text-primary font-noto-serif lh-lg text-start">
          除了黑鑽石，還有一種被稱為「黑蝶蝶翅膀」的寶石。這種寶石獨特的外觀讓人聯想到美麗的蝴蝶翅膀，它以其獨特的切割和光學效果而聞名。黑蝶蝶翅膀的寶石表面呈現出複雜的幾何圖案，綻放著奪目的光芒，它的不規則形狀和華麗的外觀使得每一件珠寶都成為獨一無二的藝術品。
        </p>
        <div class="row align-items-lg-center my-5">
          <div class="col-12 col-lg-5">
            <img
              src="https://images.unsplash.com/photo-1592847426180-0421222b52c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt=""
              class="img-fluid"
            />
          </div>
          <p
            class="col-12 col-lg-7 fs-7 text-primary font-noto-serif lh-lg text-start"
          >
            此外,還有一種被稱為黑珍珠的珍貴寶石。黑珍珠擁有獨特的深邃色澤,通常呈現出黑色、灰色或藍色的色調。它們來自於特定的貝殼,只有在特定的環境下才能形成。黑珍珠的光澤和光芒猶如夜空中閃爍的星星,散發出一種神秘而迷人的魅力。
            這些暗黑馬拉松選手在珠寶手飾界中扮演著重要的角色,帶來新鮮感和獨特性。它們打破了傳統的觀念,讓人們意識到珠寶手飾的多樣性和創新性。無論是黑鑽石、黑蝶蝶翅膀還是黑珍珠,它們都在自己的領域中散發出與眾不同的魅力。
            <br />
            現在,當你再次思考珠寶手飾時,不妨展開對這些暗黑馬拉松選手的探索。讓這些獨特而神秘的寶石為你的造型增添一份與眾不同的魅力。別再被鑽石的光芒所迷惑,讓這些暗黑馬拉松選手帶你進入一個嶄新的珠寶手飾世界,讓你成為時尚的先驅者!
          </p>
        </div>
      </div>

      <div class="container mb-30">
        <h2 class="h4 text-primary mb-10 fw-bold">猜你也喜歡</h2>
        <div class="row row-cols-2 row-cols-md-4 g-4 mb-20">
          <li class="col list-unstyled">
            <a
              href="#"
              class="d-flex flex-column product-item"
              data-aos="fade-up"
              data-aos-duration="1200"
            >
              <div
                class="product h-border position-relative"
                style="width: 100%; padding-top: 100%"
              >
                <img
                  src="../assets/images/product-2.jpg"
                  class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                  alt="鯨湛 - Brave | 拉利瑪海紋石純銀項鍊"
                />
                <img
                  src="../assets/images/product-2-1.jpg"
                  class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                  alt="鯨湛 - Brave | 拉利瑪海紋石純銀項鍊"
                />
              </div>
              <div
                class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
              >
                <h5 class="card-title display-8 text-dark pt-2">
                  鯨湛 - Brave | 拉利瑪海紋石純銀項鍊
                </h5>
                <p class="card-text display-8 text-primary py-2">NT$3,800</p>
              </div>
            </a>
          </li>
          <li class="col list-unstyled">
            <a
              href="#"
              class="d-flex flex-column product-item"
              data-aos="fade-up"
              data-aos-duration="1200"
            >
              <div
                class="product h-border position-relative"
                style="width: 100%; padding-top: 100%"
              >
                <img
                  src="../assets/images/product-3.jpg"
                  class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                  alt="天使之愛十字架|純銀＋可刻字"
                />
                <img
                  src="../assets/images/product-3-1.jpg"
                  class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                  style="width: 100%; height: 100%"
                  alt="天使之愛十字架|純銀＋可刻字"
                />
              </div>
              <span class="cus-tag">可客製</span>
              <div
                class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
              >
                <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                  天使之愛十字架項鍊 | 925純銀 / 可刻字
                </h5>
                <p class="card-text display-8 text-primary py-2">
                  NT$1,980
                  <span
                    class="display-8 text-grey9F py-2 text-decoration-line-through"
                  >
                    NT$2,200
                  </span>
                </p>
              </div>
            </a>
          </li>

          <li class="col list-unstyled">
            <a
              href="#"
              class="d-flex flex-column product-item"
              data-aos="fade-up"
              data-aos-duration="1200"
            >
              <div
                class="product h-border position-relative"
                style="width: 100%; padding-top: 100%"
              >
                <img
                  src="../assets/images/product-5.jpg"
                  class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                  alt="拿鐵｜拉花造型純銀項鍊"
                />
                <img
                  src="../assets/images/product-5-1.jpg"
                  class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                  style="width: 100%; height: 100%"
                  alt="拿鐵｜拉花造型純銀項鍊"
                />
              </div>
              <div
                class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
              >
                <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                  拿鐵拉花項鍊 | 925純銀 + 太陽石
                </h5>
                <p class="card-text display-8 text-primary py-2">NT$6,880</p>
              </div>
            </a>
          </li>
          <li class="col list-unstyled">
            <a
              href="#"
              class="d-flex flex-column product-item"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-delay="200"
            >
              <div
                class="product h-border position-relative"
                style="width: 100%; padding-top: 100%"
              >
                <img
                  src="../assets/images/product-6.jpg"
                  class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                  alt="日出訂製｜18K金鑽石男戒"
                />
                <img
                  src="../assets/images/product-6-1.jpg"
                  class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                  style="width: 100%; height: 100%"
                  alt="日出訂製｜18K金鑽石男戒"
                />
              </div>
              <span class="cus-tag">可客製</span>
              <div
                class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
              >
                <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                  日出訂製雙色鑽石男戒 | 18K金 + 鑽石 / 可刻字
                </h5>
                <p class="card-text display-8 text-primary py-2">NT$39,800</p>
              </div>
            </a>
          </li>
        </div>
      </div>
      <%- include('./layout/gotop-btn');-%>
    </div>
    <%- include('./layout/footer'); -%>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
