<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <!-- favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/logo-circle-gold.png"
    />
    <title>GreenSheep handmade jewelry</title>
  </head>

  <body>
    <div class="background-gradient">
      <%- include('./layout/header'); -%>
      <!-- 首圖Swiper -->
      <div class="swiper mySwiper" style="margin-top: -65px">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="https://images.unsplash.com/photo-1512163143273-bde0e3cc7407?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt="金色鏈子"
              class="w-100 object-fit-cover"
              style="height: 450px"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://images.unsplash.com/photo-1653903414969-0df006d9b6fe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt="金色多層次項鍊"
              class="w-100 object-fit-cover"
              style="height: 450px"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://images.unsplash.com/photo-1514927465065-bbdc86c7a76c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt="金色貝殼耳環"
              class="w-100 object-fit-cover"
              style="height: 450px"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://images.unsplash.com/photo-1599907888904-14d5d22bfe19?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt="純銀拉花項鍊"
              class="w-100 object-fit-cover"
              style="height: 450px"
            />
          </div>
        </div>
      </div>

      <main class="container">
        <div class="row py-7 py-lg-10">
          <!-- 側邊目錄 -->
          <aside class="d-none d-lg-block col-lg-3 h-bottom-line">
            <ul class="d-none d-md-block list-unstyled text-dark text-start">
              <li>
                <a
                  class="d-inline-block py-2 mx-3 position-relative active"
                  href="#"
                  >全部商品 All products</a
                >
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">戒指 Rings</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">耳環 Earrings</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">手環 Bracelet</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">項鍊 Necklace</a>
              </li>
              <li class="d-inline-block py-2 mx-3"></li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">925純銀 Silver</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">14K金 14K-Gold</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">18K金 18K-Gold</a>
              </li>
              <li class="d-inline-block py-2 mx-3"></li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="3-1.cusProduct.html"
                  >客製設計</a
                >
              </li>
            </ul>
          </aside>
          <div class="col-lg-9 py-2">
            <!-- 麵包屑導航 -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  全部商品
                </li>
              </ol>
            </nav>
            <!-- 商品列表 -->
            <div class="row row-cols-2 row-cols-md-4 g-4 mb-10 mb-lg-20">
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="600"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-1.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="蔚藍海洋 - Freedom | 拉利瑪海紋石純銀項鍊"
                    />
                    <img
                      src="../assets/images/product-1-2.JPG"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      alt="蔚藍海洋 - Freedom | 拉利瑪海紋石純銀項鍊"
                    />
                  </div>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title display-8 text-dark pt-2">
                      蔚藍海洋 - Freedom | 拉利瑪海紋石純銀項鍊
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$3,800
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="300"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-2.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="鯨湛 - Brave | 拉利瑪海紋石純銀項鍊"
                    />
                    <img
                      src="../assets/images/product-2-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      alt="鯨湛 - Brave | 拉利瑪海紋石純銀項鍊"
                    />
                  </div>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title display-8 text-dark pt-2">
                      鯨湛 - Brave | 拉利瑪海紋石純銀項鍊
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$3,800
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="2-2.productDetail.html"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-3.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="天使之愛十字架|純銀＋可刻字"
                    />
                    <img
                      src="../assets/images/product-3-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="天使之愛十字架|純銀＋可刻字"
                    />
                  </div>
                  <!-- <span class="cus-tag">可客製</span> -->
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      天使之愛十字架項鍊 | 925純銀 / 可刻字
                    </h5>
                    <p
                      class="d-inline-block card-text display-8 text-primary py-2"
                    >
                      NT$1,980
                      <span
                        class="d-inline-block display-8 text-grey9F py-2 text-decoration-line-through"
                      >
                        NT$2,200
                      </span>
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="600"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-4.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="永恆經典結婚對戒｜18K金＋鑽石"
                    />
                    <img
                      src="../assets/images/product-4-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      alt="永恆經典結婚對戒｜18K金＋鑽石"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title display-8 text-dark pt-2">
                      永恆經典結婚對戒 | 18K金 + 鑽石 /可刻字
                    </h5>
                    <div>
                      <span class="color-choose color-gold me-1"></span
                      ><span class="color-choose color-silver"></span>
                    </div>
                    <p class="card-text display-8 text-primary py-2">
                      NT$38,800起
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-5.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="拿鐵｜拉花造型純銀項鍊"
                    />
                    <img
                      src="../assets/images/product-5-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="拿鐵｜拉花造型純銀項鍊"
                    />
                  </div>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      拿鐵拉花項鍊 | 925純銀 + 太陽石
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$6,880
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="200"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-6.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="日出訂製｜18K金鑽石男戒"
                    />
                    <img
                      src="../assets/images/product-6-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="日出訂製｜18K金鑽石男戒"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      日出訂製雙色鑽石男戒 | 18K金 + 鑽石 / 可刻字
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$39,800
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="300"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-7.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="梅川伊芙｜造型純銀項鍊"
                    />
                    <img
                      src="../assets/images/product-7-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="梅川伊芙｜造型純銀項鍊"
                    />
                  </div>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      梅川伊芙造型項鍊 | 925純銀
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$2,380
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="100"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-8.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="波光淋漓925純銀耳環｜925純銀＋海水藍寶"
                    />
                    <img
                      src="../assets/images/product-8-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="波光淋漓925純銀耳環｜925純銀＋海水藍寶"
                    />
                  </div>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      波光淋漓耳環 | 925純銀 + 海水藍寶
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$4,500
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-9.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="山水情侶對戒"
                    />
                    <img
                      src="../assets/images/product-9-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="山水情侶對戒"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      山水情侶對戒 | 925純銀 / 可刻字
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$4,800
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="300"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-10.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="永恆時光排鑽戒｜18金/可刻字"
                    />
                    <img
                      src="../assets/images/product-10-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      alt="永恆時光排鑽戒｜18金/可刻字"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title display-8 text-dark pt-2">
                      永恆時光排鑽戒 ｜ 18金 + 鑽石 / 可刻字
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$10,800
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="600"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-11.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="璀璨星球 - 生日寶石925純銀項鍊"
                    />
                    <img
                      src="../assets/images/product-11-1.JPG"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      alt="璀璨星球 - 生日寶石925純銀項鍊"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title display-8 text-dark pt-2">
                      璀璨星球純銀項鍊 | 925純銀 / 生日寶石 + 可刻字
                    </h5>
                    <div>
                      <span class="color-choose color-gold me-1"></span
                      ><span class="color-choose color-silver"></span>
                    </div>
                    <p class="card-text display-8 text-primary py-2">
                      NT$5,800起
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-12.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="皇室之約｜經典單鑽戒指"
                    />
                    <img
                      src="../assets/images/product-12-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="皇室之約｜經典單鑽戒指"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      皇室之約 - 經典單鑽戒指 | 18K金 + 鑽石 / 可刻字
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$58,880
                    </p>
                  </div>
                </a>
              </li>
            </div>

            <!-- 分頁 -->
            <nav aria-label="Page navigation ">
              <ul class="cus-pagination list-unstyled mb-20 mb-lg-25">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span class="material-icons fs-8 p-1">
                      navigate_before
                    </span>
                  </a>
                </li>
                <li class="page-item fs-8">
                  <a class="page-link active" href="#" aria-current="page">1</a>
                </li>
                <li class="page-item fs-8">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item fs-8">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span class="material-icons fs-8 p-1"> navigate_next </span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </main>
    </div>
    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
