<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <!-- favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/logo-circle-gold.png"
    />
    <title>GreenSheep handmade jewelry</title>
  </head>

  <body>
    <div class="background-gradient">
      <%- include('./layout/header'); -%>
      <!-- 上半部 -->
      <div class="container py-7 py-lg-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">全部商品</li>
            <li class="breadcrumb-item active" aria-current="page">項鍊</li>
            <li class="breadcrumb-item active" aria-current="page">
              天使之愛十字架
            </li>
          </ol>
        </nav>
        <div class="d-flex flex-column flex-lg-row gap-10 algn-items-center">
          <div class="w-100 w-lg-55 h-100">
            <!-- Swiper -->
            <div class="swiper cusSwiper mb-3">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img
                    src="../assets/images/product-3.JPG"
                    alt="天使之愛十字架照片"
                    class="w-100 img-fluid object-fit-cover"
                    style="height: 500px"
                  />
                </div>
                <div class="swiper-slide">
                  <img
                    src="../assets/images/product-3-1.JPG"
                    alt="天使之愛十字架照片"
                    class="w-100 img-fluid object-fit-cover"
                    style="height: 500px"
                  />
                </div>
              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>

            <p
              class="font-montserrat fs-9 text-grey9F text-end text-lg-start mb-1"
            >
              每顆寶石均為天然寶石，有些許色差及天然內含物，均為正常現象。
            </p>
            <p
              class="font-montserrat fs-9 text-grey9F text-end text-lg-start mb-1"
            >
              即時照片預覽為參考，設計師會依照實際狀況及美感做些許位置及尺寸大小調整。
            </p>
          </div>
          <div class="w-100 w-lg-45 text-start d-flex flex-column">
            <div class="d-flex align-items-center mb-2">
              <h1 class="fw-bold fs-3 fs-lg-2 me-5">天使之愛十字架</h1>
              <!-- 愛心收藏 -->
              <svg
                class="heart-icon"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                />
              </svg>
            </div>
            <span
              class="d-block text-secondary fs-4 fs-lg-3 fw-medium mb-4 mb-lg-5"
              >NT $1,980起</span
            >
            <!-- 行銷活動 -->
            <div class="position-relative start-line">
              <div
                class="d-flex align-items-bottom text-grey66 fs-9 text-start ms-7"
              >
                <div class="d-inline-block border-grey66 me-6">
                  <p class="mb-2">全館滿NT$3,000，享台灣免運優惠</p>
                  <p class="mb-2">全館滿NT$12,000，享國際免運優惠</p>
                  <p class="mb-2">
                    凡購買指定商品，免費升級品牌絨布禮盒包裝(含品牌緞帶)
                  </p>
                </div>
                <a
                  class="d-flex align-items-center text-primary collapsed align-self-end mb-2"
                  data-bs-toggle="collapse"
                  href="#productCollapse"
                  role="button"
                  aria-expanded="false"
                  aria-controls="productCollapse"
                  >查看<br class="d-none d-lg-block d-xl-none" />更多
                  <span class="material-icons expand-less fs-6">
                    expand_less
                  </span>
                  <span class="material-icons expand-more fs-6">
                    expand_more
                  </span>
                </a>
              </div>
              <!-- 折疊選單 -->
              <div
                class="collapse text-grey66 fs-9 text-start ms-7"
                id="productCollapse"
              >
                <p class="mb-2 font-noto-serif">
                  情人節限定優惠，指定商品8折起
                </p>
                <p>慶祝板娘生日，購買指定商品，就送板娘飛吻一個～啾咪！</p>
              </div>
            </div>
            <!-- 產品特色 -->
            <div class="my-4">
              <p
                class="d-flex align-items-center text-primary mb-2 fs-8 fs-lg-7"
              >
                <span class="material-icons me-1 fs-8 fs-lg-7">
                  check_circle
                </span>

                材質：925純銀 原創設計 手工製作
              </p>
              <p
                class="d-flex align-items-center text-primary mb-2 fs-8 fs-lg-7"
              >
                <span class="material-icons me-1 fs-8 fs-lg-7">
                  check_circle
                </span>
                現貨商品：接單後3日內出貨
              </p>
              <p
                class="d-flex align-items-center text-primary mb-2 fs-8 fs-lg-7"
              >
                <span class="material-icons me-1 fs-8 fs-lg-7">
                  check_circle
                </span>

                贈：進口拭銀布 防潮袋 品牌經典紙盒包裝
              </p>
            </div>
            <!-- 優惠加購 -->
            <div
              class="d-flex align-items-center justify-content-between bg-light rounded-2 px-6 py-3 gap-5 mb-4"
            >
              <!-- checkbox -->
              <div
                class="form-check fs-8 w-40 w-lg-30 w-xl-40 d-flex align-items-center"
                style="color: #990000"
              >
                <input
                  class="form-check-input no-box-shadow cursor-pointer me-2"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label
                  class="form-check-label fw-medium mb-0 py-5 cursor-pointer"
                  for="flexCheckDefault"
                >
                  優惠加購價 NT$200
                </label>
              </div>
              <!-- Button trigger modal -->
              <div
                class="d-flex align-items-center justify-content-between gap-4 w-60 w-lg-70 w-xl-60"
              >
                <div>
                  <span
                    class="badge rounded-pill bg-primary text-white lh-sm mb-1"
                    >送禮必備</span
                  >
                  <p class="text-start text-dark fs-8 lh-sm">
                    品牌絨布禮盒包裝(含品牌緞帶)
                  </p>
                  <span class="text-dark fs-9">(原價500元)</span>
                </div>
                <img
                  src="../assets/images/package-sm.jpg"
                  alt=""
                  data-bs-toggle="modal"
                  data-bs-target="#packageModal"
                  style="width: 60px; height: 60px; cursor: pointer"
                  class="img-fluid"
                />
              </div>
              <!-- 彈跳視窗 -->
              <div
                class="modal fade"
                id="packageModal"
                tabindex="-1"
                aria-labelledby="packageModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content p-6 bg-primary">
                    <div class="modal-header border-0 justify-content-end">
                      <button
                        type="button"
                        class="text-white mb-4 bg-transparent border-0"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      >
                        <span class="material-icons fs-2"> close </span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img
                        src="../assets/images/package.jpg"
                        alt="package-picture"
                        class="border border-1"
                        style="border-radius: 60px 0"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col justify-content-center align-items-center flex-grow-1"
            >
              <!-- 尺寸選擇 -->
              <select
                class="mb-2 form-select size-select"
                aria-label="Default select example"
                style="height: 55px"
              >
                <option selected>請選擇商品規格</option>
                <option value="1">女生款(小)</option>
                <option value="2">男生款(大)</option>
              </select>

              <div class="d-flex flex-nowrap justify-content-between">
                <!-- 數量選擇 -->
                <input
                  type="number"
                  class="border-0 text-center number-select"
                  style="width: 30%"
                  min="1"
                  placeholder="數量"
                />

                <a
                  href="7-2.shopCart.html"
                  class="custom-btn custom-btn-next2 bg-primary text-white fw-medium py-4 px-10"
                  >下一步：加入購物車</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 下半部 -->
      <div class="container py-10">
        <div
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-offset="50"
          class="mb-5"
        >
          <h2 class="fs-lg-2 fw-medium">天使之愛十字架</h2>
          <p class="text-primary">The Angel Love Cross</p>
        </div>
        <p
          class="mb-5 text-primary lh-lg"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-offset="50"
        >
          如果你突然感覺到周圍有一股安靜的能量,讓你的心沈穩及踏實，那就是天使剛好經過你身旁。<br />
          順著當下的心境及感受，這款天使之愛十字項鍊就出現了，希望他可以在你需要時安靜時靜靜地陪伴著你。<br />
          十字象徵著希望、勇氣和信念，而天使造型則象徵著守護與祝福。讓這個小天使陪伴著你，保護你的靈魂並將無盡的愛帶給你。
        </p>
        <p
          class="mb-5 text-primary"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          正反面做髮絲紋及鏡面紋路不同質感
          <span class="fw-bold">可雙面配戴。</span>
        </p>
        <div class="py-5 text-primary">
          <div
            class="d-flex flex-column align-items-center mb-5"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
          >
            <p
              class="mb-1 px-1 display-6 border-start border-end border-1 border-dark lh-1"
            >
              材質
            </p>
            <p class="lh-lg">925純銀</p>
          </div>
          <div
            class="d-flex flex-column align-items-center mb-5"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <p
              class="mb-1 px-1 display-6 border-start border-end border-1 border-dark lh-1"
            >
              尺寸
            </p>
            <p class="lh-lg">女生款 - 長1.5 寬1.15 厚0.3 公分</p>
            <p class="lh-lg">男生款 - 長2.0 寬1.4 厚0.35公分</p>
          </div>
          <div
            class="d-flex flex-column align-items-center mb-5"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <p
              class="mb-1 px-1 display-6 border-start border-end border-1 border-dark lh-1"
            >
              鍊長
            </p>
            <p class="lh-lg">女生款-16吋(約40公分)</p>
            <p class="lh-lg">男生款-18吋 (約45公分)</p>
          </div>
          <div
            class="d-flex flex-column align-items-center mb-5"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <p
              class="mb-1 px-1 display-6 border-start border-end border-1 border-dark lh-1"
            >
              台灣原創設計 & 手工製作
            </p>
          </div>
          <div class="row w-100 w-lg-80 mx-auto ratio ratio-16x9">
            <iframe
              src="https://www.youtube.com/embed/eu7bo9X8CAA?si=sejTvcciBg3SjSPQ"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <!-- 圖片區 -->
          <div class="row py-10 mb-30 w-lg-80 mx-auto">
            <div
              class="mb-3 col-md-6"
              data-aos="zoom-in"
              data-aos-duration="1000"
              data-aos-delay="200"
            >
              <img src="../assets/images/product-3.jpg" alt="商品圖片" />
            </div>
            <div
              class="mb-3 col-md-6"
              data-aos="zoom-in"
              data-aos-duration="1000"
              data-aos-delay="300"
            >
              <img src="../assets/images/product-3-2.jpg" alt="商品圖片" />
            </div>
            <div
              class="mb-3 col-md-6 col-lg-4"
              data-aos="zoom-in"
              data-aos-duration="1000"
              data-aos-delay="300"
            >
              <div class="ratio ratio-1x1">
                <img
                  src="../assets/images/product-3-4.jpg"
                  class="object-fit-cover"
                  alt="商品圖片"
                />
              </div>
            </div>
            <div
              class="mb-3 col-md-6 col-lg-4"
              data-aos="zoom-in"
              data-aos-duration="1000"
              data-aos-delay="400"
            >
              <div class="ratio ratio-1x1">
                <img
                  src="../assets/images/product-3-6.jpg"
                  class="object-fit-cover"
                  alt="商品圖片"
                />
              </div>
            </div>

            <div
              class="mb-3 col-lg-4"
              data-aos="zoom-in"
              data-aos-duration="1000"
              data-aos-delay="500"
            >
              <div class="ratio ratio-1x1">
                <img
                  src="../assets/images/product-3-1.jpg"
                  class="object-fit-cover"
                  alt="商品圖片"
                />
              </div>
            </div>
          </div>

          <hr />
        </div>
        <div class="container mb-20">
          <h2 class="h4 text-primary mb-10 fw-bold">猜你也喜歡</h2>
          <div class="row row-cols-2 row-cols-md-4 g-4 mb-20">
            <li class="col list-unstyled">
              <a
                href="#"
                class="d-flex flex-column product-item"
                data-aos="fade-up"
                data-aos-duration="1200"
              >
                <div
                  class="product h-border position-relative"
                  style="width: 100%; padding-top: 100%"
                >
                  <img
                    src="../assets/images/product-2.jpg"
                    class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                    alt="鯨湛 - Brave | 拉利瑪海紋石純銀項鍊"
                  />
                  <img
                    src="../assets/images/product-2-1.jpg"
                    class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                    alt="鯨湛 - Brave | 拉利瑪海紋石純銀項鍊"
                  />
                </div>
                <div
                  class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                >
                  <h5 class="card-title display-8 text-dark pt-2">
                    鯨湛 - Brave | 拉利瑪海紋石純銀項鍊
                  </h5>
                  <p class="card-text display-8 text-primary py-2">NT$3,800</p>
                </div>
              </a>
            </li>
            <li class="col list-unstyled">
              <a
                href="#"
                class="d-flex flex-column product-item"
                data-aos="fade-up"
                data-aos-duration="1200"
              >
                <div
                  class="product h-border position-relative"
                  style="width: 100%; padding-top: 100%"
                >
                  <img
                    src="../assets/images/product-3.jpg"
                    class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                    alt="天使之愛十字架|純銀＋可刻字"
                  />
                  <img
                    src="../assets/images/product-3-1.jpg"
                    class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                    style="width: 100%; height: 100%"
                    alt="天使之愛十字架|純銀＋可刻字"
                  />
                </div>
                <span class="cus-tag">可客製</span>
                <div
                  class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                >
                  <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                    天使之愛十字架項鍊 | 925純銀 / 可刻字
                  </h5>
                  <p class="card-text display-8 text-primary py-2">
                    NT$1,980
                    <span
                      class="display-8 text-grey9F py-2 text-decoration-line-through"
                    >
                      NT$2,200
                    </span>
                  </p>
                </div>
              </a>
            </li>

            <li class="col list-unstyled">
              <a
                href="#"
                class="d-flex flex-column product-item"
                data-aos="fade-up"
                data-aos-duration="1200"
              >
                <div
                  class="product h-border position-relative"
                  style="width: 100%; padding-top: 100%"
                >
                  <img
                    src="../assets/images/product-5.jpg"
                    class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                    alt="拿鐵｜拉花造型純銀項鍊"
                  />
                  <img
                    src="../assets/images/product-5-1.jpg"
                    class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                    style="width: 100%; height: 100%"
                    alt="拿鐵｜拉花造型純銀項鍊"
                  />
                </div>
                <div
                  class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                >
                  <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                    拿鐵拉花項鍊 | 925純銀 + 太陽石
                  </h5>
                  <p class="card-text display-8 text-primary py-2">NT$6,880</p>
                </div>
              </a>
            </li>
            <li class="col list-unstyled">
              <a
                href="#"
                class="d-flex flex-column product-item"
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="200"
              >
                <div
                  class="product h-border position-relative"
                  style="width: 100%; padding-top: 100%"
                >
                  <img
                    src="../assets/images/product-6.jpg"
                    class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                    alt="日出訂製｜18K金鑽石男戒"
                  />
                  <img
                    src="../assets/images/product-6-1.jpg"
                    class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                    style="width: 100%; height: 100%"
                    alt="日出訂製｜18K金鑽石男戒"
                  />
                </div>
                <span class="cus-tag">可客製</span>
                <div
                  class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                >
                  <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                    日出訂製雙色鑽石男戒 | 18K金 + 鑽石 / 可刻字
                  </h5>
                  <p class="card-text display-8 text-primary py-2">NT$39,800</p>
                </div>
              </a>
            </li>
          </div>
        </div>
        <%- include('./layout/gotop-btn'); -%>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
