<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <!-- favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/logo-circle-gold.png"
    />
    <title>GreenSheep handmade jewelry</title>
  </head>

  <body>
    <div class="background-gradient">
      <%- include('./layout/header'); -%>
      <!-- 首圖Swiper -->
      <div class="swiper mySwiper" style="margin-top: -65px">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="../assets/images/IMG_5672.jpg"
              alt="波光粼離耳環"
              class="w-100 object-fit-cover"
              style="height: 450px"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://images.unsplash.com/photo-1653903414925-adfc47c69b3c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt="對戒"
              class="w-100 object-fit-cover"
              style="height: 450px"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://images.unsplash.com/photo-1550368566-f9cc32d7392d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt="對戒
              "
              class="w-100 object-fit-cover"
              style="height: 450px"
            />
          </div>
        </div>
      </div>

      <main class="container">
        <div class="row py-7 py-lg-10">
          <!-- 側邊目錄 -->
          <aside class="d-none d-lg-block col-lg-3 h-bottom-line">
            <ul class="d-none d-md-block list-unstyled text-dark text-start">
              <li>
                <a class="d-inline-block py-2 mx-3" href="2-1.productPage.html"
                  >全部商品 All products</a
                >
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">戒指 Rings</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">耳環 Earrings</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">手環 Bracelet</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">項鍊 Necklace</a>
              </li>
              <li class="d-inline-block py-2 mx-3"></li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">925純銀 Silver</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">14K金 14K-Gold</a>
              </li>
              <li>
                <a class="d-inline-block py-2 mx-3" href="#">18K金 18K-Gold</a>
              </li>
              <li class="d-inline-block py-2 mx-3"></li>
              <li>
                <a
                  class="d-inline-block py-2 mx-3 position-relative active"
                  href="#"
                  >客製設計</a
                >
              </li>
            </ul>
          </aside>
          <div class="col-lg-9 py-2">
            <!-- 麵包屑導航 -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  客製設計
                </li>
              </ol>
            </nav>
            <!-- 商品列表 -->
            <div class="row row-cols-2 row-cols-lg-4 g-4 mb-10 mb-lg-20">
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="400"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-4.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="永恆經典結婚對戒｜18K金＋鑽石"
                    />
                    <img
                      src="../assets/images/product-4-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      alt="永恆經典結婚對戒｜18K金＋鑽石"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title display-8 text-dark pt-2">
                      永恆經典結婚對戒 | 18K金 + 鑽石 /可刻字
                    </h5>
                    <div>
                      <span class="color-choose color-gold me-1"></span
                      ><span class="color-choose color-silver"></span>
                    </div>
                    <p class="card-text display-8 text-primary py-2">
                      NT$38,800起
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1000"
                  data-aos-delay="200"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-6.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="日出訂製｜18K金鑽石男戒"
                    />
                    <img
                      src="../assets/images/product-6-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="日出訂製｜18K金鑽石男戒"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      日出訂製雙色鑽石男戒 | 18K金 + 鑽石 / 可刻字
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$39,800
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-9.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="山水情侶對戒"
                    />
                    <img
                      src="../assets/images/product-9-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="山水情侶對戒"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      山水情侶對戒 | 925純銀 / 可刻字
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$4,800
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="300"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-10.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="永恆時光排鑽戒｜18金/可刻字"
                    />
                    <img
                      src="../assets/images/product-10-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      alt="永恆時光排鑽戒｜18金/可刻字"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title display-8 text-dark pt-2">
                      永恆時光排鑽戒 ｜ 18金 + 鑽石 / 可刻字
                    </h5>
                    <p class="card-text display-8 text-primary py-2">
                      NT$10,800
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="3-2.cusDetail-.html"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                  data-aos-delay="300"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-11.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="璀璨生日寶石項鍊 "
                    />
                    <img
                      src="../assets/images/product-11-1.JPG"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      alt="璀璨生日寶石項鍊 "
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title display-8 text-dark pt-2">
                      璀璨生日寶石項鍊 | 925純銀 / 可刻字
                    </h5>

                    <p class="card-text display-8 text-primary py-2">
                      NT$3,800起
                    </p>
                  </div>
                </a>
              </li>
              <li class="col list-unstyled">
                <a
                  href="#"
                  class="d-flex flex-column product-item"
                  data-aos="fade-up"
                  data-aos-duration="1200"
                >
                  <div
                    class="product h-border position-relative"
                    style="width: 100%; padding-top: 100%"
                  >
                    <img
                      src="../assets/images/product-12.jpg"
                      class="card-img-top show position-absolute top-0 start-0 object-fit-cover"
                      alt="皇室之約｜經典單鑽戒指"
                    />
                    <img
                      src="../assets/images/product-12-1.jpg"
                      class="card-img-top change position-absolute top-0 start-0 object-fit-cover"
                      style="width: 100%; height: 100%"
                      alt="皇室之約｜經典單鑽戒指"
                    />
                  </div>
                  <span class="cus-tag">可客製</span>
                  <div
                    class="card-body text-start d-flex flex-column justify-content-between p-1 flex-grow-1"
                  >
                    <h5 class="card-title flex-grow-1 display-8 text-dark pt-2">
                      皇室之約 - 經典單鑽戒指 | 18K金 + 鑽石 / 可刻字
                    </h5>
                    <div>
                      <span class="color-choose color-gold me-1"></span
                      ><span class="color-choose color-silver"></span>
                    </div>
                    <p class="card-text display-8 text-primary py-2">
                      NT$58,880
                    </p>
                  </div>
                </a>
              </li>
            </div>
          </div>
        </div>
      </main>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
