<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />

    <!-- favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/logo-circle-gold.png"
    />

    <title>GreenSheep handmade jewelry</title>
  </head>

  <body>
    <div class="background-gradient">
      <%- include('./layout/header'); -%>
      <div class="swiper mySwiper" style="margin-top: -65px">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="https://images.unsplash.com/photo-1684616290729-347a70d05d26?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt=""
              class="w-100 object-fit-cover"
              style="height: 450px"
            />
          </div>

          <div class="swiper-slide">
            <img
              src="https://images.unsplash.com/photo-1539050125830-eb92d115b2b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt=""
              class="w-100 object-fit-cover"
              style="height: 450px"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="https://images.unsplash.com/photo-1554047310-ab6170fc7b10?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt=""
              class="w-100 object-fit-cover"
              style="height: 450px"
            />
          </div>
        </div>
      </div>
      <div class="container pt-7 pt-lg-20">
        <nav aria-label="breadcrumb ">
          <ol class="breadcrumb mb-20">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">專欄文章</li>
          </ol>
        </nav>

        <h1 class="h2 text-primary mb-12 fw-bold">專欄文章</h1>
      </div>
      <!--桌機版第一篇文章-->
      <div
        class="container position-relative imageContainer mb-10 d-none d-lg-inline-block"
      >
        <img
          src="https://images.unsplash.com/photo-1592847426180-0421222b52c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          alt="Image description"
          class="img-fluid"
        />
        <div
          class="imageOverlay position-absolute d-flex flex-column justify-content-center align-items-center w-100 h-100"
        >
          <h3 class="fs-4 text-white lh-lg mb-3">
            「鑽石不是最閃的! 寶石的暗黑馬拉松選手」
          </h3>
          <a href="5-2.blogPages.html" class="custom-btn custom-btn-more"
            >MORE</a
          >
        </div>
      </div>
      <div class="container d-none d-lg-inline-block mb-lg-20">
        <div class="ul d-flex row g-3 list-unstyled mb-3 flex-wrap">
          <div
            class="col-4 container position-relative imageContainer mb-3 d-none d-lg-inline-block"
          >
            <img
              src="https://images.unsplash.com/photo-1454329030972-00583f5f051f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2061&q=80"
              alt="Image description"
              class="img-fluid"
            />
            <div
              class="imageOverlay position-absolute d-flex flex-column justify-content-center align-items-center w-100 h-100"
            >
              <h3 class="fs-6 text-white lh-lg mb-3">
                「經典款式太無聊？<br />探索珠寶世界的怪咖設計師」
              </h3>
              <a href="5-2.blogPages.html" class="custom-btn custom-btn-more"
                >MORE</a
              >
            </div>
          </div>

          <div
            class="col-4 container position-relative imageContainer mb-3 d-none d-lg-inline-block"
          >
            <img
              src="https://images.unsplash.com/photo-1518574493520-6ee78f08015d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2067&q=80"
              alt="Image description"
              class="img-fluid"
            />
            <div
              class="imageOverlay position-absolute d-flex flex-column justify-content-center align-items-center w-100 h-100"
            >
              <p class="fs-6 text-white lh-lg mb-3">
                「嘘!不要告訴別人，這些都是明星私藏品」
              </p>
              <a href="5-2.blogPages.html" class="custom-btn custom-btn-more"
                >MORE</a
              >
            </div>
          </div>

          <div
            class="col-4 container position-relative imageContainer mb-3 d-none d-lg-inline-block"
          >
            <img
              src="https://images.unsplash.com/photo-1630328699809-a0fdc3f7b2fd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80"
              alt="Image description"
              class="img-fluid"
            />
            <div
              class="imageOverlay position-absolute d-flex flex-column justify-content-center align-items-center w-100 h-100"
            >
              <h3 class="fs-6 text-white lh-lg mb-3">精準測量指圍大公開</h3>
              <a href="5-2.blogPages.html" class="custom-btn custom-btn-more"
                >MORE</a
              >
            </div>
          </div>
          <div
            class="col-4 container position-relative imageContainer mb-3 d-none d-lg-inline-block"
          >
            <img
              src="https://images.unsplash.com/photo-1569388330292-79cc1ec67270?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt="Image description"
              class="img-fluid"
            />
            <div
              class="imageOverlay position-absolute d-flex flex-column justify-content-center align-items-center w-100 h-100"
            >
              <h3 class="fs-6 text-white lh-lg mb-3">
                「只有真正的珠寶控才懂的痛苦:美麗成癮」
              </h3>
              <a href="5-2.blogPages.html" class="custom-btn custom-btn-more"
                >MORE</a
              >
            </div>
          </div>

          <div
            class="col-4 container position-relative imageContainer mb-3 d-none d-lg-inline-block"
          >
            <img
              src="https://images.unsplash.com/photo-1511253819057-5408d4d70465?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt="Image description"
              class="img-fluid"
            />
            <div
              class="imageOverlay position-absolute d-flex flex-column justify-content-center align-items-center w-100 h-100"
            >
              <h3 class="fs-6 text-white lh-lg mb-3">
                「戴上他們，你就是全世界最亮的星星」
              </h3>
              <a href="5-2.blogPages.html" class="custom-btn custom-btn-more"
                >MORE</a
              >
            </div>
          </div>

          <div
            class="col-4 container position-relative imageContainer mb-3 d-none d-lg-inline-block"
          >
            <img
              src="https://images.unsplash.com/photo-1578513492798-0f8a1ac3e1f0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt="Image description"
              class="img-fluid"
            />
            <div
              class="imageOverlay position-absolute d-flex flex-column justify-content-center align-items-center w-100 h-100"
            >
              <h3 class="fs-6 text-white lh-lg mb-3">
                「冬天飾品10種穿搭大公開」
              </h3>
              <a href="5-2.blogPages.html" class="custom-btn custom-btn-more"
                >MORE</a
              >
            </div>
          </div>
          <div
            class="col-3 container position-relative imageContainer mb-3 d-none d-lg-inline-block"
          >
            <img
              src="https://images.unsplash.com/photo-1542990254-85e6a9a2ef92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt="Image description"
              class="img-fluid"
            />
            <div
              class="imageOverlay position-absolute d-flex flex-column justify-content-center align-items-center w-100 h-100"
            >
              <h3 class="fs-7 text-white lh-lg mb-3">
                「讓珠寶成為你的能量與活力」
              </h3>
              <a href="5-2.blogPages.html" class="custom-btn custom-btn-more"
                >MORE</a
              >
            </div>
          </div>
          <div
            class="col-3 container position-relative imageContainer mb-3 d-none d-lg-inline-block"
          >
            <img
              src="https://images.unsplash.com/photo-1514927465065-bbdc86c7a76c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt="Image description"
              class="img-fluid"
            />
            <div
              class="imageOverlay position-absolute d-flex flex-column justify-content-center align-items-center w-100 h-100"
            >
              <h3 class="fs-7 text-white lh-lg mb-3">
                「珠寶大冒險：一起尋找失落的閃亮寶藏!」
              </h3>
              <a href="5-2.blogPages.html" class="custom-btn custom-btn-more"
                >MORE</a
              >
            </div>
          </div>
          <div
            class="col-3 container position-relative imageContainer mb-3 d-none d-lg-inline-block"
          >
            <img
              src="https://images.unsplash.com/photo-1450297166380-cabe503887e5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2065&q=80"
              alt="Image description"
              class="img-fluid"
            />
            <div
              class="imageOverlay position-absolute d-flex flex-column justify-content-center align-items-center w-100 h-100"
            >
              <h3 class="fs-7 text-white lh-lg mb-3">
                「探索珠寶背後的神秘力量!」
              </h3>
              <a href="5-2.blogPages.html" class="custom-btn custom-btn-more"
                >MORE</a
              >
            </div>
          </div>
          <div
            class="col-3 container position-relative imageContainer mb-3 d-none d-lg-inline-block"
          >
            <img
              src="https://images.unsplash.com/photo-1531995811006-35cb42e1a022?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
              alt="Image description"
              class="img-fluid"
            />
            <div
              class="imageOverlay position-absolute d-flex flex-column justify-content-center align-items-center w-100 h-100"
            >
              <h3 class="fs-7 text-white lh-lg mb-3">「當珠寶遇上女人」</h3>
              <a href="5-2.blogPages.html" class="custom-btn custom-btn-more"
                >MORE</a
              >
            </div>
          </div>
        </div>
      </div>
      <!--手機版第一篇文章-->
      <div class="container mb-3 d-inline-block d-lg-none">
        <div
          class="col-12 position-relative card text-white border-0 bg-gradient g-1"
        >
          <img
            class="col-12 img-fluid"
            src="https://images.unsplash.com/photo-1592847426180-0421222b52c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
            alt=""
          />
          <a
            style="top: 20%; left: 50%"
            href="5-2.blogPages.html"
            class="position-absolute text-white translate-middle-x w-100 text-with-bg"
            >「鑽石不是最閃的!<br />寶石界的暗黑馬拉松選手」</a
          >
        </div>
      </div>

      <!--手機版第二區文章-->
      <div class="container d-inline-block d-lg-none mb-20">
        <div class="d-flex row g-1 list-unstyled mb-3 flex-wrap">
          <li class="col-12 position-relative card text-white border-0">
            <img
              class="col-12 img-fluid"
              src="https://images.unsplash.com/photo-1454329030972-00583f5f051f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2061&q=80"
              alt=""
            />
            <a
              style="top: 20%; left: 50%"
              class="position-absolute text-white translate-middle-x text-with-bg w-100"
              href="#"
              >「經典款式太無聊?<br />珠寶界的怪咖設計師」</a
            >
          </li>
          <li
            class="col-lg-4 col-12 position-relative card text-white border-0 bg-gradient"
          >
            <img
              class="w-100 bgCustomblog"
              src="../assets/images/blog/blog (7).jpg"
              alt=""
            />
            <a
              href="#"
              style="top: 20%; left: 50%"
              class="translate-middle-x position-absolute text-white text-with-bg w-100"
              >「嘘!不要告訴別人,<br />這些珠寶手飾是明星私藏品」</a
            >
          </li>
          <li
            class="col-lg-4 col-12 position-relative card text-white border-0 bg-gradient"
          >
            <img
              class="w-100 bgCustomblog"
              src="../assets/images/blog/blog (3).jpg"
              alt=""
            />
            <a
              href="#"
              style="top: 20%; left: 50%"
              class="translate-middle-x position-absolute text-white text-with-bg w-100"
              >「不只是飾品,珠寶手飾<br />也是時尚界的心理慰藉」</a
            >
          </li>
          <li
            class="col-lg-4 col-12 position-relative card text-white border-0 bg-gradient"
          >
            <img
              class="w-100 bgCustomblog"
              src="../assets/images/blog/blog (12).jpg"
              alt=""
            />
            <a
              href="#"
              style="top: 20%; left: 50%"
              class="translate-middle-x position-absolute text-white text-with-bg w-100"
              >「只有真正的珠寶控才懂的痛苦:<br />珠寶手飾購物癮的副作用」</a
            >
          </li>
          <li
            class="col-lg-4 col-12 position-relative card text-white border-0 bg-gradient"
          >
            <img
              class="w-100 bgCustomblog"
              src="../assets/images/blog/blog (15).jpg"
              alt=""
            />
            <a
              href="#"
              style="top: 20%; left: 50%"
              class="translate-middle-x position-absolute text-white text-with-bg w-100"
              >「珠寶手飾與幸福感:穿上<br />它們,你就是全世界最亮的星」</a
            >
          </li>
          <li
            class="col-lg-4 col-12 position-relative card text-white border-0 bg-gradient"
          >
            <img
              class="w-100 bgCustomblog"
              src="../assets/images/blog/blog (5).jpg"
              alt=""
            />
            <a
              href="#"
              style="top: 20%; left: 50%"
              class="translate-middle-x position-absolute text-white text-with-bg w-100"
              >「這些珠寶手飾是上天<br />特地送給我們的禮物,相信我!」</a
            >
          </li>
        </div>
      </div>

      <!-- 分頁 -->
      <nav aria-label="Page navigation ">
        <ul class="cus-pagination list-unstyled mb-20 mb-lg-25">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span class="material-icons fs-8 p-1"> navigate_before </span>
            </a>
          </li>
          <li class="page-item fs-8">
            <a class="page-link active" href="#" aria-current="page">1</a>
          </li>
          <li class="page-item fs-8">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item fs-8">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span class="material-icons fs-8 p-1"> navigate_next </span>
            </a>
          </li>
        </ul>
      </nav>
      <%- include('./layout/gotop-btn');-%>
    </div>
    <%- include('./layout/footer'); -%>
    <script>
      AOS.init();
    </script>
    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </body>
</html>
