<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
    />
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
      $(function () {
        $("#datepicker").datepicker({
          changeMonth: true,
          changeYear: true,
        });
      });
    </script>
    <title>GreenSheep handmade jewelry</title>
  </head>

  <body>
    <div class="background-gradient">
      <%- include('./layout/header'); -%>
      <div class="d-flex flex-column align-items-center py-15">
        <div>
          <h2 class="fs-2">WELCOME</h2>
          <p class="text-primary">Discover Your Unique Elegance</p>
        </div>
        <div class="w-50 member-content">
          <!-- 登入輸入內容 -->
          <div class="d-flex flex-column align-items-center py-8">
            <h1 class="fs-1 mb-8">會員註冊</h1>
            <div>
              <!-- google或line 帳號登入 -->
              <ul class="list-unstyled">
                <li class="py-3">
                  <a href="#" class="p-3 google-account"
                    ><img src="../assets/images/google.svg" alt="" />Continue
                    with Google
                  </a>
                </li>
                <li class="py-3">
                  <a href="#" class="p-3 line-account">
                    <img src="../assets/images/line-messenger.svg" alt="" />

                    Continue with Line</a
                  >
                </li>
              </ul>

              <p
                class="d-flex justify-content-center align-items-center py-6 hr-line"
              >
                or
              </p>
              <!-- 表單 -->
              <form class="member-form">
                <!-- 信箱 -->
                <div class="mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="E-mail"
                    required
                  />
                </div>
                <!-- 密碼 -->
                <div class="mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Password(需超過6個字元)"
                    required
                  />
                </div>
                <!-- 再次確認密碼 -->
                <div class="mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Reconfirm Password(需超過6個字元)"
                    required
                  />
                </div>
                <!-- 生日 -->
                <div class="mb-3">
                  <p class="mb-1">生日(生日當月贈送消費金，確認後不可更改)</p>
                  <input
                    type="text"
                    class="form-control"
                    id="datepicker"
                    placeholder="請選擇正確出生日期"
                  />
                </div>
                <div class="mb-3 form-check">
                  <!-- 訂閱最新消息 -->
                  <div class="d-flex">
                    <input
                      type="checkbox"
                      class="form-check-input me-1"
                      id="exampleCheck1"
                      checked="checked"
                    />
                    <label class="form-check-label" for="exampleCheck1"
                      >訂閱最新消息</label
                    >
                  </div>
                  <!-- 確認使用條款和隱私權政策 -->
                  <div class="d-flex">
                    <input
                      type="checkbox"
                      class="form-check-input me-1"
                      id="exampleCheck1"
                    />
                    <label class="form-check-label" for="exampleCheck1">
                      本人同意<a href="#" class="text-decoration-underline"
                        >網站服務條款</a
                      >及<a href="#" class="text-decoration-underline"
                        >隱私權政策</a
                      ></label
                    >
                  </div>
                </div>
                <button
                  type="submit"
                  class="d-flex justify-content-center align-items-center custom-btn-submit sub-button"
                >
                  <div class="button-img-box me-1">
                    <img src="../assets/images/GreenSheep.png" alt="圖像" />
                  </div>
                  <p>立即註冊</p>
                </button>
              </form>
              <!-- 回到登入 -->
              <p class="mt-1 text-end">
                已經有帳號了嗎？前往<a
                  href="8-1.memLogin.html"
                  class="text-decoration-underline"
                  >登入</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
