<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <!-- favicon -->
    <link
      rel="icon"
      type="image/x-icon"
      href="../assets/images/logo-circle-gold.png"
    />
    <!-- og -->
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Green Sheep handmade jewelry | 在珠寶中尋覓你獨特優雅之美  "
    />
    <meta
      property="og:description"
      content="綠羊創造屬於每位佩戴者獨特故事與風采的珠寶，就像每一顆寶石都是無可取代的珍寶，蘊含著原創的設計，閃耀著自信與優雅。我們希望透過這些珠寶，讓每一位佩戴者感受到自身的獨特與美麗，成為這個世界上最獨一無二的存在。"
    />
    <meta property="og:image" content="../assets/images/ogimage.JPG" />
    <meta
      property="og:url"
      content="https://wuweitsung.github.io/Team-project/"
    />
    <meta
      property="og:site_name"
      content="Green Sheep handmade jewelry | 在珠寶中尋覓你獨特優雅之美"
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <title>GreenSheep handmade jewelry</title>
  </head>

  <body>
    <div class="background-gradient">
      <%- include('./layout/header'); -%> <%- include('./layout/index-1'); -%>
      <%- include('./layout/index-2'); -%> <%- include('./layout/index-3'); -%>
      <%- include('./layout/index-4'); -%> <%- include('./layout/gotop-btn');
      -%>
    </div>
    <%- include('./layout/footer'); -%>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script type="module" src="../main.js"></script>
  </body>
</html>
