.admin {
  &-header {
    background: #bdbcbb;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 78px;
  }
  &-sidebar {
    padding-top: 78px;
    height: 100vh;
    &-hover:hover {
      background: $light;
      color: $primary;
    }
    & .active{
      background: $light;
      color: $primary;
    }
  }
  &-main {
    margin-top: 78px;
    min-height: calc(100vh - 78px);
    .nav-link{
      background-color: transparent;
      color: $primary;
      &.active{
        background-color: $primary;
        color: #fff;
      }
    }
    @include media-breakpoint-up(lg) {
      margin-left: calc(2 / 12 * 100vw);
    }
  }
}
.offcanvas-body .active {
  background: $light;
  color: $primary;
}