.home3 {
  // 客製化區塊
  .cus {
    &-img {
      &-bg {
        height: 100%;
        border-radius: 40px 0px 40px 0px;
        object-fit: cover;
        z-index: 0;
        @include media-breakpoint-up(lg) {
          height: 100%;
          border-radius: 80px 0px 80px 0px;
        }
      }
      &-ring {
        left: 12px;
        @include media-breakpoint-up(md) {
          z-index: 2;
          left: 24px;
          top: 48px;
        }
        @include media-breakpoint-up(lg) {
          left: 64px;
          top: 0px;
        }
      }
      &-font {
        z-index: 1;
        top: -28px;
        left: 148px;
      }
      &-necklace {
        z-index: 1;
        right: 12px;
        top: -12px;
        @include media-breakpoint-up(md) {
          z-index: 0;
        }
        @include media-breakpoint-up(lg) {
          right: 0;
          top: 0;
        }
      }
    }
    &-desc {
      padding-top: 0;
      z-index: 1;
      @include media-breakpoint-up(xxl) {
        padding-top: 82.5px;
      }
    }
    &-popover-btn {
      animation: scale 1s ease-out infinite alternate-reverse;
    }
    &-popover-input:focus-visible {
    outline: 0
    }
    &-ring-popover-btn {  
      z-index: 2;
      top: 40%;
      left: 47%;
    }
    &-necklace-popover-btn {
      top: 62%;
      left: 48%;
    }
  }
  .popover {
    border-radius: 8px;
    border-width: 0;
    &-body {
      padding: 12px;
    }
  }
  
  @keyframes scale {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.4);
    }
  }
  
  // 品牌故事區塊
  .bg-image2 {
    background-image: url('@/assets/images/img-scroll-view-bg.jpg');
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 562px;
  }
  
  .bg-image3 {
    background-image: url('@/assets/images/img-scroll-view-bg.jpg');
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-image2-mobile {
    background-image: url('@/assets/images/img-scrollView-m.png');
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}
