.main-banner {
  max-width: 1440px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 32.79px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

//標題後半圓弧型
.bg-banner-blur {
  border-radius: 0px 500px 0px 0px;
  border-top: 1px solid var(--white, #fff);
  border-right: 1px solid var(--white, #fff);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(10px);
  width: 488px;
  height: 579px;
  position: absolute;
  left: 0;
  top: 370px;
  z-index: 0;

  @include pad {
    width: 550px;
    height: 530px;
    top: 640px;
  }
  // @include mobile {

  //   width: 375px;
  //   height: 400px;
  //   top: 500px;
  // }
}

.banner {
  //首頁標題區
  &-content {
    padding-top: 400px;
    @include pad {
      padding-top: 800px;
    }
    @include mobile {
      padding-top: 500px;
    }
  }
  // 首頁文字
  &-title {
    text-align: start;
    color: $dark;
    font-family: 'Playfair Display', serif;
    padding-top: 0px;
    @include pad {
      font-family: 'Playfair Display SC', serif;
      font-size: 52px;
      padding-top: 100px;
    }
    @include mobile {
      font-family: 'Playfair Display SC', serif;
      font-size: 32px;
      padding-top: 0px;
    }
  }

  //社群icon
  &-icon {
    padding-top: 600px;

    a {
      background: transparent;
      border-radius: 50%;
      transition: background 0.5s;
      &:hover {
        background: $white;
      }
      &:active {
        background: $white;
      }
    }
    @include pad {
      display: none;
    }
  }
}
// 品牌故事
.about-me {
  &-title {
    @include pad {
      padding-top: 20px;
      font-size: 32px;
      color: $dark;
    }
    @include mobile {
      font-size: 18px;
      color: $primary;
    }
  }
  &-content {
    @include pad {
      padding-top: 20px;
      font-size: 32px;
      color: $dark;
    }
    @include mobile {
      font-size: 14px;
      color: $primary;
    }
  }
}
.bg {
  //關於品牌右邊背景
  &-square-stripe {
    background-image: url(../images/img-about-4.png);
    width: 357px;
    height: 350px;
    position: absolute;
    right: -209px;
    top: 150px;
    z-index: 0;
  }
  //關於品牌右邊圖片
  &-image-right {
    background-image: url(../images/img-about-3.png);
    width: 416px;
    height: 128px;
    position: absolute;
    top: 200px;
    right: 10px;
  }
  //關於品牌左邊長條背景
  &-long-stripe {
    background-image: url(../images/img-about-2.png);
    width: 280px;
    height: 540px;
    position: absolute;
    bottom: 150px;
    left: 28px;
    z-index: 0;
  }
  //關於品牌左邊圖片
  &-image-left {
    background-image: url(../images/img-about-1.png);
    width: 196px;
    height: 300px;
    position: absolute;
    bottom: 100px;
    left: 0px;
  }
}
